.acf-fc-popup a{
	font-size: 14px;
	line-height: 14px;
	padding: 3px 12px;
}

.acf-fc-popup ul {
	columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;
}

.acf-content-rows .acf-row > .acf-fields {
	background: #f4f4f4;
}

.acf-content-rows .acf-row > .acf-fields > div {
	display: none;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-description {
	display: block;
	background:#ffffff;
	float:left;
	width:70%;
	padding:5px 0;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-description .acf-label {
	float:left;
	margin:0;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-description .acf-label label {
	display: none;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-description .acf-input input {
	background: none;
	border:none;
	box-shadow: none;
	font-size: 1.8em;
	color:#666;
	padding:0 0.5em;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-options {
	display: block;
	margin:0;
	padding:0;
	float:left;
	width:30%;
	clear:none;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-options .acf-label {
	margin-bottom: 0;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-options label {
	color:#999;
	background:#f4f4f4;
	border-bottom:none;
	padding:10px;
	font-weight: normal;
	margin:0;
	text-align: center;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-options label:after {
	content: '\F090';
	font-family: 'Black Tie';
	margin-left:10px;
	font-size: 0.8em;
}

.acf-content-rows .acf-row > .acf-fields .acf-row-options label.visible:after {
	content: '\F091';
}

.acf-content-rows .acf-row > .acf-fields > .acf-field-flexible-content {
	display: block;
	padding-top:0;
}

.acf-content-rows .acf-row > .acf-fields > .acf-field-flexible-content .acf-flexible-content.empty {
	padding-top:12px;
}

.acf-content-rows .acf-row > .acf-fields > .acf-field-flexible-content > .acf-label{
	display: none;
}

.acf-content-rows > .acf-label > label {
	font-size:2em;
	text-shadow:0 1px 1px #fff;
	font-weight:100 !important;
	margin-top:.5em;
	padding-top:.5em;
}

.acf-content-rows .acf-fields .layout {
	float:left;
	margin-top: 1em !important;
}

.acf-content-rows .acf-fields .ui-sortable-placeholder {
}

.acf-content-rows .acf-fields .acf-flexible-content .values:after {
	content:".";
	visibility:hidden;
	display:block;
	height:0;
	clear:both;
}

.acf-content-rows .acf-fields .acf-flexible-content .layout {
	box-sizing:border-box;
	margin: 0;
}

.acf-content-rows .acf-fields .acf-flexible-content .layout > .acf-fc-layout-handle {
	color:#fff;
	background:#666;
	border-bottom:none;
	text-shadow:1px 1px 1px rgba(0,0,0,0.8);
}

.acf-content-rows .acf-fields .acf-flexible-content .layout > .acf-fc-layout-handle span {
	text-shadow:none;
	color:#333;
	background:#fff;
}

.acf-content-rows .acf-fields .acf-flexible-content .layout .layout {
	width:100%;
}

.acf-content-rows .acf-repeater .acf-button.blue {
	background:#0073aa;
}

.acf-content-rows .acf-repeater .acf-button.blue:hover {
	background:#0073aa;
}

.acf-content-rows .acf-fields .acf-button.blue {
	color:#333!important;
	background:#f9f9f9;
	border:#bbb solid 1px;
}

.acf-content-rows .acf-fields .acf-button.blue:hover {
	color:#333!important;
	background:#f9f9f9;
	border:#bbb solid 1px;
}

.acf-content-rows .acf-fields .layout .acf-fc-layout-controlls .-collapse {
	display:none;
}

.acf-content-rows .acf-fields .layout .acf-fields > div {
	display:none;
}

/* Accounting for nested repeater fields and such that were getting hidden erroneously */

.acf-content-rows .acf-fields.open-modal .acf-fields > div {
	display: block;
}

.acf-content-rows .acf-fields .layout .layout .acf-fields > div {
	display:block;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-field-description {
	background:#4d8fe9;
	color:#fff;
	padding:2em!important;
	box-sizing:border-box;
	position: fixed;
	z-index: 999;
	top: 31px;
	width: 100%;
	left: 0;
	right: 0;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-field-description input {
	background: transparent;
	border: none;
	box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	color: #fff;
	font-size: 1.7em;
	line-height: 1em;
	padding: 10px;
	padding-left: 0;
	border-bottom: 3px solid rgba(255, 255, 255, .7);
	max-width: 600px;
	transition: all 300ms;
	height: auto;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-field-description input:hover {
	background: rgba(255,255, 255,.1);
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-field-description label {
	opacity: .5;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-field-description input:focus {
	outline: none;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-block-width {
	float:left;
	width:110px;
	display:block;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-edit-button {
	float:right;
	margin-top:28px;
	display:block;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-edit-button .acf-label {
	display:none;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-edit-button .acf-input p {
	margin:4px 0;
}

.acf-content-rows .acf-fields .layout .acf-fields .acf-edit-button .acf-input {
	position:relative;
	display:inline-block;
	border-radius:3px;
	padding:0 10px;
	cursor:pointer;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#555;
	background:#f7f7f7;
	font-weight:400;
	font-size:13px;
	line-height:26px;
	text-align:center;
	text-decoration:none;
	border:1px solid #ccc;
	box-shadow:0 1px 0 #ccc;
}

.field_type-flexible_content .field_type-flexible_content .acf-flexible-content .layout .acf-input-table {
	display:none;
}

.open-modal {
	background:rgba(255,255,255,.9);
	position:fixed!important;
	box-sizing: border-box;
	z-index:30001;
	top: 32px;
	left:100%;
	right:0;
	bottom: 0;
	margin:0 auto;
	height: auto;
	overflow:auto;
	width:100%;
	padding: 1em;
	box-shadow:0 0 10px rgba(0,0,0,.1);
	display: block;
	padding-top: 130px;
}

.open-modal .button-primary {
	font-size: 1.2em;
	padding: 1em 2em;
	line-height: 1em;
	height: auto;
}

.open-modal .acf-flex-modal-close {
	display:inline-block;
	position:fixed;
	top:42px;
	right:10px;
	cursor:pointer;
	z-index:99999;
	font-size:1.7em;
	color:#fff;
	transition:color 300ms;
	text-decoration: none;
	box-sizing: border-box;
	padding-top: 1em;
}

.open-modal .acf-flex-modal-close span {
	font-size: .8em;
}

.open-modal .acf-flex-modal-close:hover {
	color:rgba(255,255,255,.6);
}

.field_type-flexible_content .field_type-flexible_content .acf-flexible-content .layout .acf-input-table .acf-input-table {
	display:table;
	position:relative;
	top:auto;
	left:auto;
	margin-left:0;
}

.acf-layout-modal-clickmask {
	content:" ";
	position:fixed;
	background:rgba(240,240,240,.95);
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:30000;
}

.acf-repeater.-row > table > tbody > tr > td,.acf-repeater.-block > table > tbody > tr > td {
	border-top:3px double #999;
}

.acf-fc-layout-order {
	margin-right:7px!important;
}

#content-position-select .acf-radio-list {
	width:100px;
	height:100px;
	overflow:hidden;
	background:#fff!important;
}

#content-position-select .acf-radio-list label {
	color:transparent;
	width:100%;
	height:100%;
	display:block;
	margin:0;
	padding:0;
	background:#83aac9;
	opacity:0;
	transition:all 300ms;
	box-sizing:border-box;
}

#content-position-select .acf-radio-list label:hover {
	opacity:.5;
}

#content-position-select .acf-radio-list label.selected {
	opacity:1;
}

#content-position-select .acf-radio-list input {
	visibility:hidden;
}

#content-position-select .acf-radio-list li {
	display:inline-block;
	width:33.3333%;
	height:33.3333%;
	border:1px solid #ccc;
	overflow:hidden;
	margin:0;
	padding:0;
	box-sizing:border-box;
	line-height:0;
}

.opacity-slider .acf-input .acf-input-wrap {
	max-width:80px;
	margin-top:1em;
}

.opacity-slider .acf-input .acf-input-append {
	display:none;
}

.opacity-slider .acf-input .fc-controller {
	max-width:400px;
}

#header-type .acf-input ul {
	border-radius:5px;
	overflow:hidden;
}

#header-type .acf-input ul li {
	margin:0;
	box-sizing:border-box;
	width:25%;
}

#header-type .acf-input ul li input {
	visibility:hidden;
	position:absolute;
}

#header-type .acf-input ul li label {
	padding:.5em;
	width:100%;
	box-sizing:border-box;
	display:block;
	text-align:center;
	text-shadow:0 1px 0 rgba(255,255,255,.7);
	font-size:1.1em;
	color:#369;
	opacity:.7;
	background:-moz-linear-gradient(top,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.1) 100%);
/* FF3.6-15 */
	background:-webkit-linear-gradient(top,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.1) 100%);
/* Chrome10-25,Safari5.1-6 */
	background:linear-gradient(to bottom,rgba(0,0,0,0.05) 0%,rgba(0,0,0,0.1) 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0d000000',endColorstr='#1a000000',GradientType=0);
/* IE6-9 */
	box-shadow:0 0 10px rgba(0,0,0,.2) inset;
}

#header-type .acf-input ul li label.selected {
	opacity:1;
	color:#fff;
	text-shadow:none;
	background:#7abcff;
/* Old browsers */
	background:-moz-linear-gradient(top,rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
/* FF3.6-15 */
	background:-webkit-linear-gradient(top,rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
/* Chrome10-25,Safari5.1-6 */
	background:linear-gradient(to bottom,rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff',endColorstr='#4096ee',GradientType=0);
/* IE6-9 */
}


/* field classes */

.acf-fields .acf-field.acf-full {
	float:left;
	width:100%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-half {
	float:left;
	width:50%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-third {
	float:left;
	width:33.33%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-two-third {
	float:left;
	width:66.66%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-fourth {
	float:left;
	width:25%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-three-fourth {
	float:left;
	width:75%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-fifth {
	float:left;
	width:20%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-two-fifth {
	float:left;
	width:40%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-three-fifth {
	float:left;
	width:60%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-four-fifth {
	float:left;
	width:80%;
	box-sizing:border-box;
	border-top:none!important;
	clear:none;
}

.acf-fields .acf-field.acf-first {
	clear:both;
}

.acf-fields .acf-field.acf-clear-left {
	clear:left;
}

.acf-fields .acf-field.acf-clear-right {
	clear:right;
}