/* 
	
	Hey, this is the main CSS file for the BC Flex Content plugin.
	This is where the magic happens, all updates to the display styles
	should be going in this file- keeping everything responsive and beautiful.
	
	Keep it organized!  Enjoy!
	
*/
/* clear */
.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear:after {
  clear: both; }

.clear {
  *zoom: 1; }

.clearer {
  clear: both;
  height: 0;
  line-height: 0;
  display: block; }

.content-block {
  box-sizing: border-box; }
  @media screen and (max-width: 750px) {
    .content-block {
      width: 100% !important;
      padding: 0 !important;
      margin-bottom: 0;
      float: none; } }
  .content-block.full-width-block {
    box-sizing: border-box; }
    @media screen and (max-width: 750px) {
      .content-block.full-width-block {
        width: 100% !important;
        padding: 0 !important;
        margin-bottom: 0px; } }

.section-title {
  text-transform: uppercase;
  margin-bottom: 20px; }

.sidebar {
  box-sizing: border-box;
  padding: 2em;
  float: right;
  width: 30%; }
  @media screen and (max-width: 768px) {
    .sidebar {
      width: 100%;
      float: none; } }

#main {
  overflow: hidden; }

.content-wrap.has-sidebar {
  width: 70%;
  float: left;
  clear: none;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .content-wrap.has-sidebar {
      width: 100%;
      float: none; } }

.content-row {
  padding-left: 2em !important;
  padding-right: 2em !important; }
  .content-row .wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 750px) {
      .content-row .wrapper {
        padding: 0 2em; } }
    @media screen and (max-width: 600px) {
      .content-row .wrapper {
        padding: 0 1em;
        width: 100% !important; } }
    @media screen and (min-width: 0px) {
      .content-row .wrapper {
        min-width: 0; } }

.page-content {
  box-sizing: border-box;
  width: 100%; }
  @media screen and (max-width: 750px) {
    .page-content {
      margin-bottom: 0;
      padding: 10px; } }
  .page-content.has-sidebar {
    float: left;
    width: 70%; }
    @media screen and (max-width: 750px) {
      .page-content.has-sidebar {
        width: 100%;
        margin-bottom: 40px; } }
  .page-content.flex {
    background: none;
    padding: 0;
    margin-bottom: 0px; }
    @media screen and (max-width: 750px) {
      .page-content.flex {
        margin-bottom: 0;
        padding: 0; } }
    .page-content.flex .default-content {
      margin-bottom: 40px; }
      @media screen and (max-width: 750px) {
        .page-content.flex .default-content {
          margin-bottom: 20px; } }

#acf-popup {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5); }

.content-row {
  clear: both;
  overflow: hidden;
  box-sizing: border-box; }
  @media screen and (max-width: 750px) {
    .content-row {
      padding: 20px 0 20px 0 !important; } }

.grid {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-content: flex-start; }
  .grid li {
    flex: 0 0 auto;
    position: relative;
    padding-bottom: 50px; }
    @media screen and (max-width: 35em) {
      .grid li {
        margin-bottom: 40px;
        margin-top: 0px;
        margin-left: 0;
        float: none;
        width: 100%; } }

.content-services-display .service {
  position: relative;
  max-height: 250px;
  overflow: hidden; }
  .content-services-display .service .service-wrap {
    display: block;
    height: 100%;
    width: 100%;
    background: rgba(54, 97, 133, 0.8);
    box-sizing: border-box;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    transition: all 300ms; }
    .content-services-display .service .service-wrap:hover {
      background: rgba(246, 142, 47, 0.8); }
    .content-services-display .service .service-wrap h4.title {
      position: absolute;
      top: 42%;
      color: #fff;
      text-align: center;
      font-size: 1.5em !important;
      text-transform: uppercase;
      width: 100%;
      padding: 0 1em;
      transition: all 300ms; }
      .content-services-display .service .service-wrap h4.title:hover {
        font-weight: 700; }

.case-study-summary {
  width: 60%; }

.case-study-services p {
  margin-bottom: .5em; }
.case-study-services li {
  display: inline-block;
  margin-right: 1em; }

.content-case-study-display {
  overflow: visible; }
  .content-case-study-display .case-study {
    position: relative;
    border-bottom: 3px solid rgba(54, 97, 134, 0);
    border-radius: 3px;
    opacity: .6;
    transition: all 400ms;
    padding-bottom: 1em;
    margin-bottom: 2%; }
    .content-case-study-display .case-study:hover {
      opacity: 1;
      border-bottom: 2px solid rgba(245, 172, 44, 0.7);
      transform: scale(1.05); }
    .content-case-study-display .case-study .case-study-wrap {
      position: relative;
      height: 250px;
      cursor: pointer; }
      .content-case-study-display .case-study .case-study-wrap .case-study-logo {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        max-height: 100px;
        margin-bottom: 10px; }
        .content-case-study-display .case-study .case-study-wrap .case-study-logo img {
          max-width: 100%;
          width: auto;
          max-height: 100%;
          height: auto;
          transition: all 400ms; }
      .content-case-study-display .case-study .case-study-wrap h4.title {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        padding: 0 1em;
        font-size: 1.1em;
        transition: all 300ms; }
        .content-case-study-display .case-study .case-study-wrap h4.title a {
          color: #366186; }
          .content-case-study-display .case-study .case-study-wrap h4.title a span {
            color: #999;
            font-size: .9em;
            display: block;
            font-style: italic;
            margin-top: .25em; }

.content-featured-case-study {
  position: relative;
  overflow: hidden; }
  .content-featured-case-study .left {
    float: left;
    width: 40%;
    box-sizing: border-box; }
  .content-featured-case-study .right {
    float: right;
    padding-left: 5em;
    width: 60%;
    box-sizing: border-box; }
  @media screen and (max-width: 650px) {
    .content-featured-case-study .left, .content-featured-case-study .right {
      width: 100%;
      float: none;
      padding: 0;
      text-align: center;
      margin-bottom: 1em; } }
  .content-featured-case-study .case-study-title {
    display: block;
    font-size: 2.5em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin-bottom: 20px; }
    @media screen and (max-width: 650px) {
      .content-featured-case-study .case-study-title {
        font-size: 2em; } }
  .content-featured-case-study .case-study-summary {
    font-size: 1.2em;
    line-height: 1.3em;
    width: 100%; }
    @media screen and (max-width: 650px) {
      .content-featured-case-study .case-study-summary {
        font-size: 1em; } }
  .content-featured-case-study .featured-case-study-logo {
    max-height: 75px;
    width: auto;
    margin-bottom: 2em; }
    @media screen and (max-width: 650px) {
      .content-featured-case-study .featured-case-study-logo {
        margin-bottom: 3em; } }
  .content-featured-case-study .button {
    margin: 0 0 .5em !important; }
    @media screen and (max-width: 650px) {
      .content-featured-case-study .button {
        font-size: .8em; } }
  .content-featured-case-study blockquote {
    line-height: 1.3em;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: auto;
    max-width: none;
    margin-bottom: 1em; }
    @media screen and (max-width: 650px) {
      .content-featured-case-study blockquote {
        font-size: 1.3em; } }
    .content-featured-case-study blockquote:before {
      position: absolute;
      z-index: 0;
      font-family: 'Black Tie';
      font-weight: 900;
      content: "\F036";
      font-size: 4em;
      opacity: .1;
      top: 0px;
      left: -.5em; }
      @media screen and (max-width: 650px) {
        .content-featured-case-study blockquote:before {
          font-size: 3em;
          left: 0; } }
  .content-featured-case-study cite {
    float: right;
    font-size: 1.2em; }
    @media screen and (max-width: 650px) {
      .content-featured-case-study cite {
        float: none; } }
  .content-featured-case-study.featured-case-study-compact .left {
    width: 35%;
    text-align: right;
    padding: 2em;
    border-right: 8px solid #eee; }
    .content-featured-case-study.featured-case-study-compact .left img {
      margin: 0 auto 2em; }
  .content-featured-case-study.featured-case-study-compact .right {
    width: 65%;
    position: absolute;
    float: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 2em;
    font-size: 1.3em; }
    .content-featured-case-study.featured-case-study-compact .right p {
      margin: 0; }
  @media screen and (max-width: 650px) {
    .content-featured-case-study.featured-case-study-compact .left, .content-featured-case-study.featured-case-study-compact .right {
      width: 100%;
      float: none;
      position: relative;
      transform: none;
      padding: 0;
      text-align: center;
      border: none;
      margin: 0;
      margin-bottom: 2em; }
      .content-featured-case-study.featured-case-study-compact .left img, .content-featured-case-study.featured-case-study-compact .right img {
        max-height: 150px; }
      .content-featured-case-study.featured-case-study-compact .left .button, .content-featured-case-study.featured-case-study-compact .right .button {
        width: 75%; } }

.content-news-list {
  box-sizing: border-box; }
  .content-news-list .news-list {
    list-style-type: none;
    margin-left: 0 !important;
    padding-left: 0; }
    .content-news-list .news-list li {
      margin-bottom: 20px; }
      .content-news-list .news-list li img {
        float: left;
        margin-right: 1em;
        margin-bottom: 1em;
        max-width: 75px;
        height: auto; }
      .content-news-list .news-list li h4 {
        line-height: 1.2em;
        font-size: 1.1em; }
      .content-news-list .news-list li.has-image h4 {
        padding-top: 1em; }
      .content-news-list .news-list li.has-excerpt img {
        max-width: 150px;
        height: auto; }

.content-faqs {
  box-sizing: border-box; }
  .content-faqs .faq-list {
    margin-left: 0 !important;
    padding-left: 0;
    list-style-type: none; }
  .content-faqs .faq-title {
    background: #ccc;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding: .75em 1em;
    cursor: pointer !important;
    font-size: 1.2em; }
    .content-faqs .faq-title i {
      font-size: 1.2em;
      float: right;
      margin-left: 20px;
      line-height: 1.6em; }
  .content-faqs .faq-content {
    padding: 1em; }

.content-block .button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: .5em 1.5em;
  border-radius: 4px;
  border: 1px solid #333;
  background: transparent;
  margin: 1em 0;
  text-decoration: none !important; }

.content-call-to-action-block {
  box-sizing: border-box;
  overflow: hidden;
  position: relative; }
  .content-call-to-action-block .button {
    font-size: 1.5em; }
  .content-call-to-action-block .button-wrap {
    margin-top: 40px;
    text-align: center; }
  .content-call-to-action-block .user-content.has-form {
    float: left;
    width: 50%; }
  .content-call-to-action-block .gform_wrapper {
    float: right;
    width: 48%; }
    .content-call-to-action-block .gform_wrapper .gform_heading {
      margin-bottom: 0 !important; }
      .content-call-to-action-block .gform_wrapper .gform_heading .gform_description {
        margin-bottom: 0 !important;
        font-size: 1.3em;
        line-height: 1.2em; }
    .content-call-to-action-block .gform_wrapper .gform_body .gfield-required {
      display: none; }
    .content-call-to-action-block .gform_wrapper .gform_body li {
      display: inline-block;
      box-sizing: border-box;
      padding-left: 1em;
      width: 50%;
      margin-top: 0;
      padding-top: 0; }
      .content-call-to-action-block .gform_wrapper .gform_body li:first-child {
        padding-left: 0 !important; }
      .content-call-to-action-block .gform_wrapper .gform_body li label .gfield_required {
        display: none; }
      .content-call-to-action-block .gform_wrapper .gform_body li input {
        width: 100% !important;
        font-size: 1.25em !important;
        border-radius: 3px;
        padding-left: 10px !important; }
    .content-call-to-action-block .gform_wrapper .gform_footer {
      padding: 0;
      text-align: right; }
      .content-call-to-action-block .gform_wrapper .gform_footer input[type="submit"] {
        background: #369;
        color: #fff;
        line-height: 1em;
        font-size: 1.3em;
        padding: .5em 1.5em;
        transition: all 300ms;
        margin-bottom: 0;
        text-transform: uppercase; }
        .content-call-to-action-block .gform_wrapper .gform_footer input[type="submit"]:hover {
          background: #538cc6; }

.content-student-groups .team-member {
  list-style-type: none;
  margin-bottom: 3em; }
  .content-student-groups .team-member img {
    border-bottom: 1px solid #ccc;
    margin: 0 auto; }
  .content-student-groups .team-member .social {
    font-size: .8em; }
  .content-student-groups .team-member .email {
    line-height: 1.2em; }
  .content-student-groups .team-member .name {
    text-transform: none;
    text-align: center;
    font-size: 1em; }
    .content-student-groups .team-member .name a {
      text-transform: none; }
.content-student-groups h3.group-title {
  color: #fff; }
.content-student-groups .grid {
  list-style-type: none; }
  .content-student-groups .grid .bio-wrap {
    display: none; }
.content-student-groups ul.list .bio {
  border-top: none !important;
  padding-top: 0;
  margin-top: 0; }
.content-student-groups ul.list li.team-member {
  padding-bottom: 2em;
  margin-bottom: 1em; }
  .content-student-groups ul.list li.team-member:last-child {
    border-bottom: none !important; }
  .content-student-groups ul.list li.team-member img {
    border: none; }

h3.group-title {
  padding: .5em;
  background: #5290ca;
  color: #fff;
  margin-bottom: 1em; }
  @media screen and (max-width: 35em) {
    h3.group-title {
      text-align: center; } }

.content-call-to-action-button {
  text-align: center;
  box-sizing: border-box; }
  .content-call-to-action-button .button {
    font-size: 1.5em; }

.content-team-grid {
  box-sizing: border-box; }
  .content-team-grid .section-title {
    margin-bottom: 40px; }
    @media screen and (max-width: 35em) {
      .content-team-grid .section-title {
        margin-bottom: 20px; } }
  .content-team-grid .list .team-member {
    margin-bottom: 1em;
    padding: 1em 0;
    border-bottom: 1px dotted #ccc;
    overflow: hidden; }
  .content-team-grid .list img {
    float: left;
    width: 30%;
    height: auto; }
    @media screen and (max-width: 35em) {
      .content-team-grid .list img {
        margin-bottom: 20px;
        width: 100%;
        float: none; } }
  .content-team-grid .list .bio-wrap {
    float: left;
    width: 70%;
    padding-left: 1.5em;
    box-sizing: border-box; }
    @media screen and (max-width: 35em) {
      .content-team-grid .list .bio-wrap {
        width: 100%;
        float: none;
        padding-left: 1em;
        padding-right: 1em; } }
  .content-team-grid .list .title, .content-team-grid .list .email {
    color: #666;
    font-size: .9em; }
  .content-team-grid .list .bio {
    padding-top: .75em;
    margin-top: .75em;
    border-top: 1px solid #d9e6ee;
    font-size: .9em; }
  .content-team-grid .grid .team-member {
    padding-bottom: 50px; }
    @media screen and (max-width: 35em) {
      .content-team-grid .grid .team-member {
        margin-bottom: 40px;
        margin-top: 0px;
        margin-left: 0;
        float: none;
        width: 100%; } }
    @media screen and (max-width: 35em) {
      .content-team-grid .grid .team-member:first-child {
        margin-top: 0; } }
    .content-team-grid .grid .team-member img {
      width: 100%;
      margin-bottom: 1em;
      min-width: 100%; }
      @media screen and (max-width: 35em) {
        .content-team-grid .grid .team-member img {
          width: 100%;
          margin-bottom: 20px; } }
    @media screen and (max-width: 35em) {
      .content-team-grid .grid .team-member .bio-wrap {
        text-align: center; } }
    .content-team-grid .grid .team-member .bio-handle {
      text-align: center;
      padding: .25em 0;
      margin-top: 1em;
      font-size: .8em;
      text-transform: uppercase;
      transition: all 300ms;
      background: #eee;
      height: 30px;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      width: 100%;
      box-sizing: border-box; }
      .content-team-grid .grid .team-member .bio-handle:hover {
        opacity: .7;
        transform: scale(1.03, 1.03); }
    .content-team-grid .grid .team-member .bio {
      display: none;
      padding: 1em; }
      .content-team-grid .grid .team-member .bio p {
        line-height: 1.4em; }
    .content-team-grid .grid .team-member .name {
      color: #333;
      text-transform: uppercase;
      margin-bottom: 10px; }
    .content-team-grid .grid .team-member .title {
      color: #666;
      font-size: .8em; }
    .content-team-grid .grid .team-member .email {
      font-size: .8em; }

.content-media-grid {
  box-sizing: border-box; }
  .content-media-grid .video-thumb {
    box-sizing: border-box;
    position: relative;
    display: block; }
    .content-media-grid .video-thumb i {
      color: #fff;
      font-size: .9em;
      padding: 10px 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1em;
      margin-left: -1.5em;
      background: rgba(51, 51, 51, 0.6);
      border-radius: 3px;
      transition: all 0.25s ease-in-out; }
    .content-media-grid .video-thumb:hover i {
      background: #ccc; }
  .content-media-grid .media-button {
    text-align: center;
    margin-top: 20px; }

.tab-content-wrap {
  display: none;
  padding: 1em;
  box-sizing: border-box; }
  .tab-content-wrap.active {
    display: block; }

.tab-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  transition: all 300ms; }
  @media screen and (max-width: 600px) {
    .tab-nav {
      border-bottom: 0;
      overflow: hidden;
      position: relative;
      background: linear-gradient(#fafafa, #eeeeee);
      border: 1px solid #eee; }
      .tab-nav:after {
        content: "\f000";
        color: #666;
        font-family: 'Black Tie';
        position: absolute;
        top: 1em;
        right: 1em;
        z-index: 2;
        pointer-events: none; }
      .tab-nav li {
        display: block;
        /* One link per "row" */ }
      .tab-nav a {
        position: absolute;
        /* Stack links on top of each other */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin-left: 0 !important; }
        .tab-nav a:hover {
          transform: scale(1.01, 1.01);
          text-decoration: none !important;
          color: inherit;
          z-index: 100;
          border: 1px solid #ccc; }
        .tab-nav a.active {
          border: 0;
          z-index: 1;
          /* Active tab is on top */
          position: relative;
          text-align: left;
          padding: 1em; } }
  .tab-nav.stacked {
    border-bottom: 0;
    overflow: hidden;
    position: relative;
    background: linear-gradient(#fafafa, #eeeeee);
    border: 1px solid #eee; }
    .tab-nav.stacked:after {
      content: "\f000";
      color: #666;
      font-family: 'Black Tie';
      position: absolute;
      top: 1em;
      right: 1em;
      z-index: 2;
      pointer-events: none; }
    .tab-nav.stacked li {
      display: block;
      /* One link per "row" */ }
    .tab-nav.stacked a {
      position: absolute;
      /* Stack links on top of each other */
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin-left: 0 !important; }
      .tab-nav.stacked a:hover {
        transform: scale(1.01, 1.01);
        text-decoration: none !important;
        color: inherit;
        z-index: 100;
        border: 1px solid #ccc; }
      .tab-nav.stacked a.active {
        border: 0;
        z-index: 1;
        /* Active tab is on top */
        position: relative;
        text-align: left;
        padding: 1em; }
  .tab-nav.open {
    overflow: visible; }
    .tab-nav.open a {
      position: relative;
      text-align: left; }
  .tab-nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: visible;
    vertical-align: bottom;
    transition: all 300ms; }
    .tab-nav li:first-child a {
      border-left: 1px solid #eee;
      margin-left: .5em; }
    .tab-nav li.active {
      margin-bottom: -1px; }
    .tab-nav li a {
      display: block;
      padding: .75em 2em;
      text-align: center;
      background: #fafafa;
      color: #666;
      border-left: 1px solid #fff;
      border-right: 1px solid #eee;
      border-top: 1px solid #eee;
      transition: all 300ms; }
      .tab-nav li a.active {
        color: #333;
        background: #fff;
        padding: 1em 2em; }

.dark .content-block .button {
  color: #fff;
  border-color: #fff; }
  .dark .content-block .button:visited {
    color: #fff; }
.dark .tab-nav li a {
  opacity: .8; }
  .dark .tab-nav li a:hover, .dark .tab-nav li a.active {
    opacity: 1; }

.content-menu .menu {
  width: 100%; }
  .content-menu .menu .sub-menu {
    display: none; }
.content-menu .show-sub .menu {
  margin: 0;
  padding: 0; }
  .content-menu .show-sub .menu li {
    vertical-align: top; }
  .content-menu .show-sub .menu .sub-menu {
    display: block;
    margin: 0;
    padding: 0;
    margin-left: .5em; }
    .content-menu .show-sub .menu .sub-menu li {
      margin: 0;
      padding: 0;
      display: block; }
      .content-menu .show-sub .menu .sub-menu li a {
        padding: .15em;
        opacity: .9; }
.content-menu .horizontal .menu {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between; }
  .content-menu .horizontal .menu li {
    flex: 0 0 auto;
    padding: 0;
    margin-right: 2em; }
    .content-menu .horizontal .menu li a {
      padding: .5em;
      display: inline-block; }
    .content-menu .horizontal .menu li:before {
      display: none; }
    .content-menu .horizontal .menu li .sub-menu {
      margin-left: 5px;
      padding-left: 0;
      font-size: .9em; }
      .content-menu .horizontal .menu li .sub-menu li a {
        color: #444;
        cursor: pointer;
        transition: all 300ms; }
        .content-menu .horizontal .menu li .sub-menu li a:hover {
          color: #366186; }
.content-menu .columns .menu {
  columns: 4 150px;
  column-gap: 1em;
  column-fill: balance; }
  .content-menu .columns .menu .sub-menu {
    margin: 0; }
    .content-menu .columns .menu .sub-menu li a {
      opacity: 1;
      padding: 0; }
  .content-menu .columns .menu.ruled {
    -webkit-column-rule: 1px dotted #ddd;
    -moz-column-rule: 1px dotted #ddd;
    column-rule: 1px dotted #ddd; }
  .content-menu .columns .menu li {
    padding-left: 0; }
    .content-menu .columns .menu li:before {
      display: none; }

.content-carousel .carousel {
  width: 100%;
  position: relative; }
.content-carousel .carousel-item {
  float: left;
  position: relative;
  text-align: center; }
  .content-carousel .carousel-item .carousel-item-wrap {
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .content-carousel .carousel-item .carousel-item-wrap:hover .carousel-content {
      opacity: 1; }
    .content-carousel .carousel-item .carousel-item-wrap:hover img {
      filter: blur(3px); }
  .content-carousel .carousel-item .carousel-content {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    padding: .75em;
    transition: all 300ms; }
    .content-carousel .carousel-item .carousel-content span {
      width: 100%;
      height: auto;
      text-align: center;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 500; }
.content-carousel .slick-arrow {
  background: #eee;
  font-family: 'BlackTie';
  color: transparent;
  transition: all 300ms;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: none;
  color: #333;
  top: 40%; }
  .content-carousel .slick-arrow:hover {
    transform: none;
    transform: scale(1.1); }
  .content-carousel .slick-arrow.slick-prev {
    z-index: 99; }
    .content-carousel .slick-arrow.slick-prev:before {
      font-family: 'Black Tie';
      content: "\f092";
      color: #369; }
  .content-carousel .slick-arrow.slick-next:before {
    font-family: 'Black Tie';
    content: "\f093";
    color: #369; }
.content-carousel .slick-list {
  overflow: hidden; }

.pricing-tiers .tier-group {
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 40px; }
@media screen and (max-width: 990px) {
  .pricing-tiers .tier-group {
    width: 100%;
    float: none; } }
.pricing-tiers .tier {
  width: 30%;
  min-width: 260px;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.3);
  margin: 0 .5em 20px; }
  @media screen and (max-width: 950px) {
    .pricing-tiers .tier {
      width: 48% !important;
      max-width: none;
      margin: 0 .5em 20px 0; } }
  @media screen and (max-width: 600px) {
    .pricing-tiers .tier {
      width: 100% !important;
      max-width: none;
      display: block;
      margin: 0 0 20px 0; } }
  .pricing-tiers .tier.featured {
    transform: scale(1.1);
    z-index: 99; }
    @media screen and (max-width: 800px) {
      .pricing-tiers .tier.featured {
        transform: none; } }
  .pricing-tiers .tier .tier-price, .pricing-tiers .tier .tier-title, .pricing-tiers .tier .tier-desc {
    text-align: center; }
  .pricing-tiers .tier .tier-title {
    padding: 1em;
    color: #fff;
    background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.9));
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .pricing-tiers .tier .tier-desc {
    padding: 1em;
    font-size: .9em;
    font-style: italic;
    background: #fafafa;
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
  .pricing-tiers .tier .tier-feature {
    padding: 1em 2em;
    border-top: 1px solid #eee;
    color: #369;
    padding-left: 2.5em;
    position: relative;
    font-size: .9em;
    line-height: 1.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .pricing-tiers .tier .tier-feature:before {
      font-family: 'Black Tie';
      content: "\f013";
      color: #369;
      font-weight: 900;
      position: absolute;
      left: 1em;
      top: 1em; }
    .pricing-tiers .tier .tier-feature.spacer {
      border-color: transparent; }
      .pricing-tiers .tier .tier-feature.spacer:before {
        display: none; }
  .pricing-tiers .tier .tier-footer {
    background: #369;
    transition: all 300ms;
    opacity: .9; }
    .pricing-tiers .tier .tier-footer a {
      background: linear-gradient(#4080bf, #336699);
      padding: 1.25em;
      font-size: 1.2em;
      color: #d9e6f2;
      text-align: center;
      line-height: 1em;
      font-weight: 500;
      display: block;
      width: 100%;
      box-sizing: border-box;
      transition: all 300ms;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .pricing-tiers .tier .tier-footer a:hover {
        color: #fff;
        background: #369; }
  .pricing-tiers .tier .tier-price {
    font-size: 1.75em;
    color: #fff;
    font-weight: 500;
    background: #036;
    line-height: 1.2em;
    padding: .5em 0;
    letter-spacing: -.05em; }
    .pricing-tiers .tier .tier-price small {
      font-size: .5em;
      font-style: italic; }
    .pricing-tiers .tier .tier-price sup {
      vertical-align: super;
      position: relative; }

.content-resource-grid .grid {
  overflow: visible; }
.content-resource-grid .resource-item {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }
  .content-resource-grid .resource-item .resource-image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    background: #eee; }
    .content-resource-grid .resource-item .resource-image img {
      width: 100%;
      height: auto; }
  .content-resource-grid .resource-item .resource-wrap {
    padding: 1em; }
    .content-resource-grid .resource-item .resource-wrap h3 {
      font-size: 1.1em;
      margin-bottom: 0; }
      .content-resource-grid .resource-item .resource-wrap h3 span {
        display: block;
        color: #ccc;
        text-transform: uppercase;
        font-size: .9em; }

.dark .wrapper .content-block h1, .dark .wrapper .content-block h2, .dark .wrapper .content-block h3, .dark .wrapper .content-block h4, .dark .wrapper .content-block h5, .dark .wrapper .content-block h6, .dark .wrapper .content-block p, .dark .wrapper .content-block li, .dark .wrapper .content-block div, .dark .wrapper .content-block i, .dark .wrapper .content-block blockquote, .dark .wrapper .content-block a {
  color: #fff; }

@media screen and (max-width: 736px) and (max-height: 500px) {
  .mobile-hide {
    display: none; } }
