/* 
	
	Hey, this is the main CSS file for the BC Flex Content plugin.
	This is where the magic happens, all updates to the display styles
	should be going in this file- keeping everything responsive and beautiful.
	
	Keep it organized!  Enjoy!
	
*/
/* clear */
/* line 19, ../sass/layouts.scss */
.clear:before, .clear:after {
  content: ' ';
  display: table;
}

/* line 24, ../sass/layouts.scss */
.clear:after {
  clear: both;
}

/* line 28, ../sass/layouts.scss */
.clear {
  *zoom: 1;
}

/* line 32, ../sass/layouts.scss */
.clearer {
  clear: both;
  height: 0;
  line-height: 0;
  display: block;
}

/* line 39, ../sass/layouts.scss */
.content-block {
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  /* line 45, ../sass/layouts.scss */
  .content-row > .wrapper > .content-block {
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 0;
    float: none;
  }
}

/* line 56, ../sass/layouts.scss */
.section-title {
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* line 63, ../sass/layouts.scss */
.sidebar {
  box-sizing: border-box;
  padding: 2em;
  float: right;
  width: 30%;
}
@media screen and (max-width: 768px) {
  /* line 63, ../sass/layouts.scss */
  .sidebar {
    width: 100%;
    float: none;
  }
}

/* line 76, ../sass/layouts.scss */
#main {
  overflow: hidden;
}

/* line 82, ../sass/layouts.scss */
.content-wrap.has-sidebar {
  width: 70%;
  float: left;
  clear: none;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  /* line 82, ../sass/layouts.scss */
  .content-wrap.has-sidebar {
    width: 100%;
    float: none;
  }
}

/* line 97, ../sass/layouts.scss */
.content-row {
  padding-left: 2em !important;
  padding-right: 2em !important;
  position: relative;
}
/* line 103, ../sass/layouts.scss */
.content-row .content-row-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/* line 111, ../sass/layouts.scss */
.content-row .wrapper {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
/* line 120, ../sass/layouts.scss */
.content-row .wrapper.vertical-align {
  align-items: center;
}
/* line 126, ../sass/layouts.scss */
.content-row .wrapper .content-block.flex-vc {
  align-self: center;
}
/* line 132, ../sass/layouts.scss */
.content-row .wrapper .content-block.flex-vc section .page-content *:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 750px) {
  /* line 111, ../sass/layouts.scss */
  .content-row .wrapper {
    padding: 0 2em;
  }
}
@media screen and (max-width: 600px) {
  /* line 111, ../sass/layouts.scss */
  .content-row .wrapper {
    padding: 0 1em;
    width: 100% !important;
  }
}
@media screen and (min-width: 0px) {
  /* line 111, ../sass/layouts.scss */
  .content-row .wrapper {
    min-width: 0;
  }
}

/* line 157, ../sass/layouts.scss */
.page-content {
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 750px) {
  /* line 157, ../sass/layouts.scss */
  .page-content {
    margin-bottom: 0;
    padding: 10px;
  }
}
/* line 166, ../sass/layouts.scss */
.page-content.has-sidebar {
  float: left;
  width: 70%;
}
@media screen and (max-width: 750px) {
  /* line 166, ../sass/layouts.scss */
  .page-content.has-sidebar {
    width: 100%;
    margin-bottom: 40px;
  }
}
/* line 176, ../sass/layouts.scss */
.page-content.flex {
  background: none;
  padding: 0;
  margin-bottom: 0px;
}
@media screen and (max-width: 750px) {
  /* line 176, ../sass/layouts.scss */
  .page-content.flex {
    margin-bottom: 0;
    padding: 0;
  }
}
/* line 186, ../sass/layouts.scss */
.page-content.flex .default-content {
  margin-bottom: 40px;
}
@media screen and (max-width: 750px) {
  /* line 186, ../sass/layouts.scss */
  .page-content.flex .default-content {
    margin-bottom: 20px;
  }
}

/* line 196, ../sass/layouts.scss */
#acf-popup {
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
}

/* line 201, ../sass/layouts.scss */
.content-row {
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
}
@media screen and (max-width: 750px) {
  /* line 201, ../sass/layouts.scss */
  .content-row {
    padding: 20px 0 20px 0 !important;
  }
}

/* line 213, ../sass/layouts.scss */
.content-accordion ul.accordion {
  list-style-type: none;
}
/* line 215, ../sass/layouts.scss */
.content-accordion ul.accordion li {
  list-style-type: none;
  margin-left: 0;
}
/* line 220, ../sass/layouts.scss */
.content-accordion ul.accordion li .accordion-title i {
  line-height: 1;
  transition: all 300ms;
}
/* line 226, ../sass/layouts.scss */
.content-accordion ul.accordion li .accordion-title.open i {
  transform: rotate(180deg);
}

/* line 242, ../sass/layouts.scss */
.content-image div {
  position: relative;
  overflow: hidden;
}
/* line 247, ../sass/layouts.scss */
.content-image .circle {
  border-radius: 50%;
}
/* line 253, ../sass/layouts.scss */
.content-image .triangle:before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  top: -50%;
  left: -50%;
  border-top: 500px solid transparent;
  border-bottom: 500px solid transparent;
  border-left: 500px solid #4679BD;
}

/* line 273, ../sass/layouts.scss */
.content-news-list {
  box-sizing: border-box;
}
/* line 275, ../sass/layouts.scss */
.content-news-list .news-list {
  list-style-type: none;
  margin-left: 0 !important;
  padding-left: 0;
}
/* line 279, ../sass/layouts.scss */
.content-news-list .news-list li {
  margin-bottom: 20px;
}
/* line 281, ../sass/layouts.scss */
.content-news-list .news-list li img {
  float: left;
  margin-right: 1em;
  margin-bottom: 1em;
  max-width: 75px;
  height: auto;
}
/* line 289, ../sass/layouts.scss */
.content-news-list .news-list li h4 {
  line-height: 1.2em;
  font-size: 1.1em;
}
/* line 295, ../sass/layouts.scss */
.content-news-list .news-list li.has-image h4 {
  padding-top: 1em;
}
/* line 301, ../sass/layouts.scss */
.content-news-list .news-list li.has-excerpt img {
  max-width: 150px;
  height: auto;
}

/* line 314, ../sass/layouts.scss */
.content-faqs {
  box-sizing: border-box;
}
/* line 317, ../sass/layouts.scss */
.content-faqs .faq-list {
  margin-left: 0 !important;
  padding-left: 0;
  list-style-type: none;
}
/* line 322, ../sass/layouts.scss */
.content-faqs .faq-list .faq-item {
  padding-left: 0;
}
/* line 327, ../sass/layouts.scss */
.content-faqs .faq-title {
  background: #ccc;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: .75em 1em;
  cursor: pointer !important;
  font-size: 1.2em;
}
/* line 335, ../sass/layouts.scss */
.content-faqs .faq-title i {
  font-size: 1.2em;
  float: right;
  margin-left: 20px;
  line-height: 1.6em;
}
/* line 343, ../sass/layouts.scss */
.content-faqs .faq-content {
  padding: 1em;
  background: #fff;
  margin-bottom: 4px;
}
/* line 348, ../sass/layouts.scss */
.content-faqs .faq-content ul {
  margin: 20px 0;
}
/* line 351, ../sass/layouts.scss */
.content-faqs .faq-content ul li {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 10px;
}

/* line 361, ../sass/layouts.scss */
.content-block .button {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: .5em 1.5em;
  border-radius: 4px;
  border: 1px solid #333;
  background: transparent;
  margin: 1em 0;
  text-decoration: none !important;
}

/* line 375, ../sass/layouts.scss */
.content-call-to-action-block {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
/* line 382, ../sass/layouts.scss */
.content-call-to-action-block .cta-overlay {
  width: 100%;
}
/* line 386, ../sass/layouts.scss */
.content-call-to-action-block .button {
  font-size: 1.25em;
}
/* line 390, ../sass/layouts.scss */
.content-call-to-action-block .button-wrap {
  margin-top: 0;
  text-align: center;
  width: 100%;
}
/* line 396, ../sass/layouts.scss */
.content-call-to-action-block .user-content {
  width: 100%;
}
/* line 398, ../sass/layouts.scss */
.content-call-to-action-block .user-content.has-form {
  width: 50%;
}
@media screen and (max-width: 760px) {
  /* line 398, ../sass/layouts.scss */
  .content-call-to-action-block .user-content.has-form {
    width: 100%;
  }
}
/* line 408, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper {
  width: 48%;
}
@media screen and (max-width: 760px) {
  /* line 408, ../sass/layouts.scss */
  .content-call-to-action-block .gform_wrapper {
    width: 100%;
  }
}
/* line 416, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_heading {
  margin-bottom: 0 !important;
}
/* line 420, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_heading .gform_description {
  margin-bottom: 0 !important;
  font-size: 1.3em;
  line-height: 1.2em;
}
/* line 430, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_body .gfield-required {
  display: none;
}
/* line 434, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_body li {
  display: inline-block;
  box-sizing: border-box;
  padding-left: 1em;
  width: 50%;
  margin-top: 0;
  padding-top: 0;
}
/* line 447, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_body li label .gfield_required {
  display: none;
}
/* line 452, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_body li input {
  width: 100% !important;
  font-size: 1.25em !important;
  border-radius: 3px;
  padding-left: 10px !important;
}
@media screen and (max-width: 600px) {
  /* line 452, ../sass/layouts.scss */
  .content-call-to-action-block .gform_wrapper .gform_body li input {
    font-size: 1em !important;
  }
}
/* line 467, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_footer {
  padding: 0;
  text-align: right;
}
/* line 471, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_footer input[type="submit"].button {
  background: #369;
  color: #fff;
  line-height: 1em;
  font-size: 1.3em;
  padding: .75em 1.5em !important;
  transition: all 300ms;
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  /* line 471, ../sass/layouts.scss */
  .content-call-to-action-block .gform_wrapper .gform_footer input[type="submit"].button {
    font-size: 1em !important;
  }
}
/* line 486, ../sass/layouts.scss */
.content-call-to-action-block .gform_wrapper .gform_footer input[type="submit"].button:hover {
  background: #538cc6;
}

/* line 498, ../sass/layouts.scss */
.content-row {
  clear: both;
  overflow: hidden;
  box-sizing: border-box;
}

@media screen and (max-width: 750px) {
  /* line 503, ../sass/layouts.scss */
  .content-row {
    padding: 20px 0 20px 0 !important;
  }
}
/* line 506, ../sass/layouts.scss */
.grid {
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-content: flex-start;
}
/* line 517, ../sass/layouts.scss */
.grid li {
  flex: 0 0 auto;
  position: relative;
  padding-bottom: 50px;
}
@media screen and (max-width: 35em) {
  /* line 517, ../sass/layouts.scss */
  .grid li {
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: 0;
    float: none;
    width: 100%;
  }
}

/* line 534, ../sass/layouts.scss */
.content-work-display .work {
  position: relative;
  height: 200px;
  overflow: hidden;
}
/* line 539, ../sass/layouts.scss */
.content-work-display .work img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto !important;
  max-width: none;
}
/* line 549, ../sass/layouts.scss */
.content-work-display .work .work-wrap {
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(54, 97, 133, 0.8);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: all 300ms;
}
/* line 561, ../sass/layouts.scss */
.content-work-display .work .work-wrap:hover {
  background: rgba(246, 142, 47, 0.8);
}
/* line 567, ../sass/layouts.scss */
.content-work-display .work h4.title {
  position: absolute;
  top: 42%;
  color: #fff;
  text-align: center;
  font-size: 1.5em !important;
  text-transform: uppercase;
  width: 100%;
  padding: 0 1em;
  transition: all 300ms;
}
/* line 578, ../sass/layouts.scss */
.content-work-display .work h4.title:hover {
  font-weight: 700;
}

/* line 585, ../sass/layouts.scss */
.content-services-display .service {
  position: relative;
  height: 200px;
  overflow: hidden;
}
/* line 590, ../sass/layouts.scss */
.content-services-display .service img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: auto !important;
  max-width: none;
}
/* line 600, ../sass/layouts.scss */
.content-services-display .service .service-wrap {
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(54, 97, 133, 0.8);
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: all 300ms;
}
/* line 612, ../sass/layouts.scss */
.content-services-display .service .service-wrap:hover {
  background: rgba(246, 142, 47, 0.8);
}
/* line 618, ../sass/layouts.scss */
.content-services-display .service h4.title {
  position: absolute;
  top: 42%;
  color: #fff;
  text-align: center;
  font-size: 1.5em !important;
  text-transform: uppercase;
  width: 100%;
  padding: 0 1em;
  transition: all 300ms;
}
/* line 629, ../sass/layouts.scss */
.content-services-display .service h4.title:hover {
  font-weight: 700;
}

/* line 635, ../sass/layouts.scss */
.case-study-summary {
  width: 60%;
}

/* line 639, ../sass/layouts.scss */
.case-study-services p {
  margin-bottom: .5em;
}

/* line 643, ../sass/layouts.scss */
.case-study-services li {
  display: inline-block;
  margin-right: 1em;
}

/* line 648, ../sass/layouts.scss */
.content-case-study-display {
  overflow: visible;
}

/* line 652, ../sass/layouts.scss */
.content-case-study-display .case-study {
  position: relative;
  border-bottom: 3px solid rgba(54, 97, 134, 0);
  border-radius: 3px;
  opacity: .6;
  transition: all 400ms;
  padding-bottom: 1em;
  margin-bottom: 2%;
}

/* line 662, ../sass/layouts.scss */
.content-case-study-display .case-study:hover {
  opacity: 1;
  border-bottom: 2px solid rgba(245, 172, 44, 0.7);
  transform: scale(1.05);
}

/* line 668, ../sass/layouts.scss */
.content-case-study-display .case-study .case-study-wrap {
  position: relative;
  height: 250px;
  cursor: pointer;
}

/* line 674, ../sass/layouts.scss */
.content-case-study-display .case-study .case-study-wrap .case-study-logo {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  max-height: 100px;
  margin-bottom: 10px;
}

/* line 685, ../sass/layouts.scss */
.content-case-study-display .case-study .case-study-wrap .case-study-logo img {
  max-width: 100%;
  width: auto;
  max-height: 100%;
  height: auto;
  transition: all 400ms;
}

/* line 693, ../sass/layouts.scss */
.content-case-study-display .case-study .case-study-wrap h4.title {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 0 1em;
  font-size: 1.1em;
  transition: all 300ms;
}

/* line 703, ../sass/layouts.scss */
.content-case-study-display .case-study .case-study-wrap h4.title a {
  color: #366186;
}

/* line 707, ../sass/layouts.scss */
.content-case-study-display .case-study .case-study-wrap h4.title a span {
  color: #999;
  font-size: .9em;
  display: block;
  font-style: italic;
  margin-top: .25em;
}

/* line 715, ../sass/layouts.scss */
.content-featured-case-study {
  position: relative;
  overflow: hidden;
}

/* line 720, ../sass/layouts.scss */
.content-featured-case-study .left {
  float: left;
  width: 40%;
  box-sizing: border-box;
}

/* line 726, ../sass/layouts.scss */
.content-featured-case-study .right {
  float: right;
  padding-left: 5em;
  width: 60%;
  box-sizing: border-box;
}

@media screen and (max-width: 650px) {
  /* line 734, ../sass/layouts.scss */
  .content-featured-case-study .left, .content-featured-case-study .right {
    width: 100%;
    float: none;
    padding: 0;
    text-align: center;
    margin-bottom: 1em;
  }
}
/* line 743, ../sass/layouts.scss */
.content-featured-case-study .case-study-title {
  display: block;
  font-size: 2.5em;
  line-height: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

@media screen and (max-width: 650px) {
  /* line 752, ../sass/layouts.scss */
  .content-featured-case-study .case-study-title {
    font-size: 2em;
  }
}
/* line 757, ../sass/layouts.scss */
.content-featured-case-study .case-study-summary {
  font-size: 1.2em;
  line-height: 1.3em;
  width: 100%;
}

@media screen and (max-width: 650px) {
  /* line 764, ../sass/layouts.scss */
  .content-featured-case-study .case-study-summary {
    font-size: 1em;
  }
}
/* line 769, ../sass/layouts.scss */
.content-featured-case-study .featured-case-study-logo {
  max-height: 75px;
  width: auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 650px) {
  /* line 776, ../sass/layouts.scss */
  .content-featured-case-study .featured-case-study-logo {
    margin-bottom: 3em;
  }
}
/* line 781, ../sass/layouts.scss */
.content-featured-case-study .button {
  margin: 0 0 0.5em !important;
}

@media screen and (max-width: 650px) {
  /* line 786, ../sass/layouts.scss */
  .content-featured-case-study .button {
    font-size: .8em;
  }
}
/* line 791, ../sass/layouts.scss */
.content-featured-case-study blockquote {
  line-height: 1.3em;
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  width: auto;
  max-width: none;
  margin-bottom: 1em;
}

@media screen and (max-width: 650px) {
  /* line 803, ../sass/layouts.scss */
  .content-featured-case-study blockquote {
    font-size: 1.3em;
  }
}
/* line 808, ../sass/layouts.scss */
.content-featured-case-study blockquote:before {
  position: absolute;
  z-index: 0;
  font-family: 'Black Tie';
  font-weight: 900;
  content: "\F036";
  font-size: 4em;
  opacity: .1;
  top: 0;
  left: -.5em;
}

@media screen and (max-width: 650px) {
  /* line 821, ../sass/layouts.scss */
  .content-featured-case-study blockquote:before {
    font-size: 3em;
    left: 0;
  }
}
/* line 827, ../sass/layouts.scss */
.content-featured-case-study cite {
  float: right;
  font-size: 1.2em;
}

@media screen and (max-width: 650px) {
  /* line 833, ../sass/layouts.scss */
  .content-featured-case-study cite {
    float: none;
  }
}
/* line 838, ../sass/layouts.scss */
.content-featured-case-study.featured-case-study-compact .left {
  width: 35%;
  text-align: right;
  padding: 2em;
  border-right: 8px solid #eee;
}

/* line 845, ../sass/layouts.scss */
.content-featured-case-study.featured-case-study-compact .left img {
  margin: 0 auto 2em;
}

/* line 849, ../sass/layouts.scss */
.content-featured-case-study.featured-case-study-compact .right {
  width: 65%;
  position: absolute;
  float: none;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 2em;
  font-size: 1.3em;
}

/* line 860, ../sass/layouts.scss */
.content-featured-case-study.featured-case-study-compact .right p {
  margin: 0;
}

@media screen and (max-width: 650px) {
  /* line 865, ../sass/layouts.scss */
  .content-featured-case-study.featured-case-study-compact .left, .content-featured-case-study.featured-case-study-compact .right {
    width: 100%;
    float: none;
    position: relative;
    transform: none;
    padding: 0;
    text-align: center;
    border: none;
    margin: 0;
    margin-bottom: 2em;
  }

  /* line 877, ../sass/layouts.scss */
  .content-featured-case-study.featured-case-study-compact .left img, .content-featured-case-study.featured-case-study-compact .right img {
    max-height: 150px;
  }

  /* line 881, ../sass/layouts.scss */
  .content-featured-case-study.featured-case-study-compact .left .button, .content-featured-case-study.featured-case-study-compact .right .button {
    width: 75%;
  }
}
/* line 888, ../sass/layouts.scss */
.content-student-groups .team-member {
  list-style-type: none;
  margin-bottom: 3em;
}
/* line 892, ../sass/layouts.scss */
.content-student-groups .team-member img {
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}
/* line 897, ../sass/layouts.scss */
.content-student-groups .team-member .social {
  font-size: .8em;
}
/* line 901, ../sass/layouts.scss */
.content-student-groups .team-member .email {
  line-height: 1.2em;
}
/* line 905, ../sass/layouts.scss */
.content-student-groups .team-member .name {
  text-transform: none;
  text-align: center;
  font-size: 1em;
}
/* line 910, ../sass/layouts.scss */
.content-student-groups .team-member .name a {
  text-transform: none;
}
/* line 918, ../sass/layouts.scss */
.content-student-groups h3.group-title {
  color: #fff;
}
/* line 922, ../sass/layouts.scss */
.content-student-groups .grid {
  list-style-type: none;
}
/* line 925, ../sass/layouts.scss */
.content-student-groups .grid .bio-wrap {
  display: none;
}
/* line 931, ../sass/layouts.scss */
.content-student-groups ul.list .bio {
  border-top: none !important;
  padding-top: 0;
  margin-top: 0;
}
/* line 936, ../sass/layouts.scss */
.content-student-groups ul.list li.team-member {
  padding-bottom: 2em;
  margin-bottom: 1em;
}
/* line 940, ../sass/layouts.scss */
.content-student-groups ul.list li.team-member:last-child {
  border-bottom: none !important;
}
/* line 944, ../sass/layouts.scss */
.content-student-groups ul.list li.team-member img {
  border: none;
}

/* line 951, ../sass/layouts.scss */
h3.group-title {
  padding: .5em;
  background: #5290ca;
  color: #fff;
  margin-bottom: 1em;
}
@media screen and (max-width: 35em) {
  /* line 951, ../sass/layouts.scss */
  h3.group-title {
    text-align: center;
  }
}

/* line 963, ../sass/layouts.scss */
.content-call-to-action-button {
  text-align: center;
  box-sizing: border-box;
}
/* line 968, ../sass/layouts.scss */
.content-call-to-action-button .button {
  font-size: 1.5em;
}

/* line 973, ../sass/layouts.scss */
.content-team-grid {
  box-sizing: border-box;
}
/* line 975, ../sass/layouts.scss */
.content-team-grid .section-title {
  margin-bottom: 40px;
}
@media screen and (max-width: 35em) {
  /* line 975, ../sass/layouts.scss */
  .content-team-grid .section-title {
    margin-bottom: 20px;
  }
}
/* line 986, ../sass/layouts.scss */
.content-team-grid .list .team-member {
  margin-bottom: 1em;
  padding: 1em 0;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
}
/* line 993, ../sass/layouts.scss */
.content-team-grid .list img {
  float: left;
  width: 30%;
  height: auto;
}
@media screen and (max-width: 35em) {
  /* line 993, ../sass/layouts.scss */
  .content-team-grid .list img {
    margin-bottom: 20px;
    width: 100%;
    float: none;
  }
}
/* line 1006, ../sass/layouts.scss */
.content-team-grid .list .bio-wrap {
  float: left;
  width: 70%;
  padding-left: 1.5em;
  box-sizing: border-box;
}
@media screen and (max-width: 35em) {
  /* line 1006, ../sass/layouts.scss */
  .content-team-grid .list .bio-wrap {
    width: 100%;
    float: none;
    padding-left: 1em;
    padding-right: 1em;
  }
}
/* line 1021, ../sass/layouts.scss */
.content-team-grid .list .title, .content-team-grid .list .email {
  color: #666;
  font-size: .9em;
}
/* line 1026, ../sass/layouts.scss */
.content-team-grid .list .bio {
  padding-top: .75em;
  margin-top: .75em;
  border-top: 1px solid #d9e6ee;
  font-size: .9em;
}
/* line 1036, ../sass/layouts.scss */
.content-team-grid .grid {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-content: flex-start;
}
/* line 1046, ../sass/layouts.scss */
.content-team-grid .grid .team-member {
  flex: 0 0 auto;
  position: relative;
  padding-bottom: 50px;
}
@media screen and (max-width: 35em) {
  /* line 1046, ../sass/layouts.scss */
  .content-team-grid .grid .team-member {
    margin-bottom: 40px;
    margin-top: 0px;
    margin-left: 0;
    float: none;
    width: 100%;
  }
}
@media screen and (max-width: 35em) {
  /* line 1059, ../sass/layouts.scss */
  .content-team-grid .grid .team-member:first-child {
    margin-top: 0;
  }
}
/* line 1065, ../sass/layouts.scss */
.content-team-grid .grid .team-member img {
  width: 100%;
  margin-bottom: 1em;
  min-width: 100%;
}
@media screen and (max-width: 35em) {
  /* line 1065, ../sass/layouts.scss */
  .content-team-grid .grid .team-member img {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 35em) {
  /* line 1077, ../sass/layouts.scss */
  .content-team-grid .grid .team-member .bio-wrap {
    text-align: center;
  }
}
/* line 1083, ../sass/layouts.scss */
.content-team-grid .grid .team-member .bio-handle {
  text-align: center;
  padding: .25em 0;
  margin-top: 1em;
  font-size: .8em;
  text-transform: uppercase;
  transition: all 300ms;
  background: #eee;
  height: 30px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
/* line 1098, ../sass/layouts.scss */
.content-team-grid .grid .team-member .bio-handle:hover {
  opacity: .7;
  transform: scale(1.03, 1.03);
}
/* line 1103, ../sass/layouts.scss */
.content-team-grid .grid .team-member .bio-handle a {
  display: block;
}
/* line 1108, ../sass/layouts.scss */
.content-team-grid .grid .team-member .bio {
  display: none;
  padding: 1em;
}
/* line 1112, ../sass/layouts.scss */
.content-team-grid .grid .team-member .bio p {
  line-height: 1.4em;
}
/* line 1117, ../sass/layouts.scss */
.content-team-grid .grid .team-member .name {
  color: #333;
  text-transform: uppercase;
  margin-bottom: 10px;
}
/* line 1124, ../sass/layouts.scss */
.content-team-grid .grid .team-member .title {
  color: #666;
  font-size: .8em;
}
/* line 1129, ../sass/layouts.scss */
.content-team-grid .grid .team-member .email {
  font-size: .8em;
}

/* line 1137, ../sass/layouts.scss */
.content-media-grid {
  box-sizing: border-box;
}
/* line 1139, ../sass/layouts.scss */
.content-media-grid .video-thumb {
  box-sizing: border-box;
  position: relative;
  display: block;
}
/* line 1144, ../sass/layouts.scss */
.content-media-grid .video-thumb i {
  color: #fff;
  font-size: .9em;
  padding: 10px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1em;
  margin-left: -1.5em;
  background: rgba(51, 51, 51, 0.6);
  border-radius: 3px;
  transition: all 0.25s ease-in-out;
}
/* line 1161, ../sass/layouts.scss */
.content-media-grid .video-thumb:hover i {
  background: #ccc;
}
/* line 1167, ../sass/layouts.scss */
.content-media-grid .media-button {
  text-align: center;
  margin-top: 20px;
}

/* line 1176, ../sass/layouts.scss */
.content-tabs .tab-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  transition: all 300ms;
}
/* line 1183, ../sass/layouts.scss */
.content-tabs .tab-nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow: visible;
  vertical-align: bottom;
  transition: all 300ms;
}
/* line 1191, ../sass/layouts.scss */
.content-tabs .tab-nav li:first-child span {
  border-left: 1px solid #eee;
  margin-left: .5em;
}
/* line 1196, ../sass/layouts.scss */
.content-tabs .tab-nav li.active {
  margin-bottom: -1px;
}
/* line 1199, ../sass/layouts.scss */
.content-tabs .tab-nav li.active span {
  color: #333;
  background: #fff;
  padding: 1em 2em;
}
/* line 1207, ../sass/layouts.scss */
.content-tabs .tab-nav li span {
  display: block;
  padding: .75em 2em;
  margin-left: 0.5em;
  text-align: center;
  background: #fafafa;
  color: #666;
  border-left: 1px solid #fff;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  transition: all 300ms;
  cursor: pointer;
}
/* line 1222, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked {
  border-bottom: 0;
  overflow: hidden;
  position: relative;
  background: linear-gradient(#fafafa, #eeeeee);
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}
/* line 1230, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li {
  display: none;
  border-bottom: 1px solid #ddd;
}
/* line 1234, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li:hover {
  background: #ffffff;
}
/* line 1238, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li.active {
  display: block;
}
/* line 1241, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li.active span {
  border: 0;
  text-align: left;
  padding: 1em;
}
/* line 1246, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li.active span:after {
  display: block;
  content: "\f000";
  font-family: 'Black Tie';
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 101;
  pointer-events: none;
}
/* line 1259, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li span {
  display: block;
  width: 100%;
  height: 100%;
  margin-left: 0 !important;
  padding: 1em;
}
/* line 1266, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked li span:hover {
  text-decoration: none !important;
  color: inherit;
}
/* line 1274, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked.open li {
  display: block;
  overflow: visible;
}
/* line 1278, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked.open li span {
  position: relative;
  text-align: left;
}
/* line 1284, ../sass/layouts.scss */
.content-tabs .tab-nav.stacked.open li:after {
  display: none;
}
/* line 1292, ../sass/layouts.scss */
.content-tabs .tab-content-wrap {
  padding: 1em;
  box-sizing: border-box;
}

/* line 1301, ../sass/layouts.scss */
.dark .content-block .button {
  color: #fff;
  border-color: #fff;
}
/* line 1306, ../sass/layouts.scss */
.dark .content-block .button:visited {
  color: #fff;
}
/* line 1315, ../sass/layouts.scss */
.dark .tab-nav li a {
  opacity: .8;
}
/* line 1318, ../sass/layouts.scss */
.dark .tab-nav li a:hover, .dark .tab-nav li a.active {
  opacity: 1;
}

/* line 1330, ../sass/layouts.scss */
.content-menu .menu {
  width: 100%;
}
/* line 1334, ../sass/layouts.scss */
.content-menu .menu .sub-menu {
  display: none;
}
/* line 1340, ../sass/layouts.scss */
.content-menu .show-sub .menu {
  margin: 0;
  padding: 0;
}
/* line 1343, ../sass/layouts.scss */
.content-menu .show-sub .menu li {
  vertical-align: top;
}
/* line 1347, ../sass/layouts.scss */
.content-menu .show-sub .menu .sub-menu {
  display: block;
  margin: 0;
  padding: 0;
  margin-left: .5em;
  font-size: 0.9em;
}
/* line 1354, ../sass/layouts.scss */
.content-menu .show-sub .menu .sub-menu li {
  margin: 0;
  padding: 0;
  display: block;
}
/* line 1359, ../sass/layouts.scss */
.content-menu .show-sub .menu .sub-menu li a {
  padding: .15em;
  opacity: .9;
}
/* line 1370, ../sass/layouts.scss */
.content-menu .horizontal .menu {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
}
/* line 1377, ../sass/layouts.scss */
.content-menu .horizontal .menu li {
  display: inline-block;
  flex: 0 0 auto;
  padding: 0;
  margin-right: 1em;
}
/* line 1383, ../sass/layouts.scss */
.content-menu .horizontal .menu li a {
  padding: .5em;
  display: inline-block;
}
/* line 1388, ../sass/layouts.scss */
.content-menu .horizontal .menu li:before {
  display: none;
}
/* line 1392, ../sass/layouts.scss */
.content-menu .horizontal .menu li .sub-menu {
  margin-left: 5px;
  padding-left: 0;
  font-size: .9em;
  margin-bottom: 20px;
}
/* line 1399, ../sass/layouts.scss */
.content-menu .horizontal .menu li .sub-menu li a {
  color: #444;
  cursor: pointer;
  transition: all 300ms;
}
/* line 1404, ../sass/layouts.scss */
.content-menu .horizontal .menu li .sub-menu li a:hover {
  color: #366186;
}
/* line 1415, ../sass/layouts.scss */
.content-menu .columns .menu {
  column-width: 200px;
}
/* line 1418, ../sass/layouts.scss */
.content-menu .columns .menu .sub-menu {
  margin: 10px 0 0;
}
/* line 1421, ../sass/layouts.scss */
.content-menu .columns .menu .sub-menu li {
  margin-bottom: 10px;
}
/* line 1424, ../sass/layouts.scss */
.content-menu .columns .menu .sub-menu li a {
  opacity: 1;
  padding: 0;
}
/* line 1431, ../sass/layouts.scss */
.content-menu .columns .menu.ruled {
  -webkit-column-rule: 1px dotted #ddd;
  -moz-column-rule: 1px dotted #ddd;
  column-rule: 1px dotted #ddd;
}
/* line 1437, ../sass/layouts.scss */
.content-menu .columns .menu > li {
  display: inline-block;
  margin-bottom: 20px;
}
/* line 1441, ../sass/layouts.scss */
.content-menu .columns .menu > li > a {
  font-size: 1.2em;
  color: #333;
}
/* line 1447, ../sass/layouts.scss */
.content-menu .columns .menu li {
  padding-left: 0;
  line-height: 1.2em;
}
/* line 1451, ../sass/layouts.scss */
.content-menu .columns .menu li:before {
  display: none;
}

/* line 1463, ../sass/layouts.scss */
.content-carousel .carousel {
  width: 100%;
  position: relative;
}
/* line 1468, ../sass/layouts.scss */
.content-carousel .carousel-item {
  float: left;
  position: relative;
  text-align: center;
}
/* line 1473, ../sass/layouts.scss */
.content-carousel .carousel-item .carousel-item-wrap {
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
/* line 1483, ../sass/layouts.scss */
.content-carousel .carousel-item.has-content .carousel-item-wrap:hover .carousel-content {
  opacity: 1;
}
/* line 1487, ../sass/layouts.scss */
.content-carousel .carousel-item.has-content .carousel-item-wrap:hover img {
  filter: blur(3px);
}
/* line 1494, ../sass/layouts.scss */
.content-carousel .carousel-item .carousel-content {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  color: #fff;
  transition: all 300ms;
}
/* line 1506, ../sass/layouts.scss */
.content-carousel .carousel-item .carousel-content span {
  width: 100%;
  height: auto;
  text-align: center;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
}
/* line 1519, ../sass/layouts.scss */
.content-carousel .slick-arrow {
  background: #eee;
  font-family: 'BlackTie';
  transition: all 300ms;
  color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: none;
  color: #333;
  top: 40%;
}
/* line 1532, ../sass/layouts.scss */
.content-carousel .slick-arrow:hover {
  transform: none;
  transform: scale(1.1);
}
/* line 1539, ../sass/layouts.scss */
.content-carousel .slick-arrow.slick-prev {
  z-index: 99;
}
/* line 1543, ../sass/layouts.scss */
.content-carousel .slick-arrow.slick-prev:before {
  font-family: 'Black Tie';
  content: "\f092";
  color: #369;
}
/* line 1551, ../sass/layouts.scss */
.content-carousel .slick-arrow.slick-next:before {
  font-family: 'Black Tie';
  content: "\f093";
  color: #369;
}
/* line 1559, ../sass/layouts.scss */
.content-carousel .slick-list {
  overflow: hidden;
}

/* line 1568, ../sass/layouts.scss */
.pricing-tiers .tier-group {
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
  margin-bottom: 40px;
}
@media screen and (max-width: 990px) {
  /* line 1577, ../sass/layouts.scss */
  .pricing-tiers .tier-group {
    width: 100%;
    float: none;
  }
}
/* line 1584, ../sass/layouts.scss */
.pricing-tiers .tier {
  width: 30%;
  min-width: 260px;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 5px 10px rgba(51, 51, 51, 0.3);
  margin: 0 .5em 20px;
}
@media screen and (max-width: 950px) {
  /* line 1584, ../sass/layouts.scss */
  .pricing-tiers .tier {
    width: 48% !important;
    max-width: none;
    margin: 0 .5em 20px 0;
  }
}
@media screen and (max-width: 600px) {
  /* line 1584, ../sass/layouts.scss */
  .pricing-tiers .tier {
    width: 100% !important;
    max-width: none;
    display: block;
    margin: 0 0 20px 0;
  }
}
/* line 1606, ../sass/layouts.scss */
.pricing-tiers .tier.featured {
  transform: scale(1.1);
  z-index: 99;
}
@media screen and (max-width: 800px) {
  /* line 1606, ../sass/layouts.scss */
  .pricing-tiers .tier.featured {
    transform: none;
  }
}
/* line 1616, ../sass/layouts.scss */
.pricing-tiers .tier .tier-price, .pricing-tiers .tier .tier-title, .pricing-tiers .tier .tier-desc {
  text-align: center;
}
/* line 1620, ../sass/layouts.scss */
.pricing-tiers .tier .tier-title {
  padding: 1em;
  color: #fff;
  background: linear-gradient(rgba(51, 51, 51, 0.8), rgba(51, 51, 51, 0.9));
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 1635, ../sass/layouts.scss */
.pricing-tiers .tier .tier-desc {
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  background: #fafafa;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 1648, ../sass/layouts.scss */
.pricing-tiers .tier .tier-feature {
  padding: 1em 2em;
  border-top: 1px solid #eee;
  color: #369;
  padding-left: 2.5em;
  position: relative;
  font-size: .9em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 1660, ../sass/layouts.scss */
.pricing-tiers .tier .tier-feature:before {
  font-family: 'Black Tie';
  content: "\f013";
  color: #369;
  font-weight: 900;
  position: absolute;
  left: 1em;
  top: 1em;
}
/* line 1670, ../sass/layouts.scss */
.pricing-tiers .tier .tier-feature.spacer {
  border-color: transparent;
}
/* line 1672, ../sass/layouts.scss */
.pricing-tiers .tier .tier-feature.spacer:before {
  display: none;
}
/* line 1679, ../sass/layouts.scss */
.pricing-tiers .tier .tier-footer {
  background: #369;
  transition: all 300ms;
  opacity: .9;
}
/* line 1683, ../sass/layouts.scss */
.pricing-tiers .tier .tier-footer a {
  background: linear-gradient(#4080bf, #336699);
  padding: 1.25em;
  font-size: 1.2em;
  color: #d9e6f2;
  text-align: center;
  line-height: 1em;
  font-weight: 500;
  display: block;
  width: 100%;
  box-sizing: border-box;
  transition: all 300ms;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 1700, ../sass/layouts.scss */
.pricing-tiers .tier .tier-footer a:hover {
  color: #fff;
  background: #369;
}
/* line 1708, ../sass/layouts.scss */
.pricing-tiers .tier .tier-price {
  font-size: 1.75em;
  color: #fff;
  font-weight: 500;
  background: #036;
  line-height: 1.2em;
  padding: .5em 0;
  letter-spacing: -.05em;
}
/* line 1717, ../sass/layouts.scss */
.pricing-tiers .tier .tier-price small {
  font-size: .5em;
  font-style: italic;
}
/* line 1722, ../sass/layouts.scss */
.pricing-tiers .tier .tier-price sup {
  vertical-align: super;
  position: relative;
}

/* line 1734, ../sass/layouts.scss */
.content-resource-grid .grid {
  overflow: visible;
}
/* line 1738, ../sass/layouts.scss */
.content-resource-grid .resource-item {
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-bottom: 7px solid #ccc;
}
/* line 1743, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-image {
  width: 100%;
  height: 150px;
  overflow: hidden;
  background: #eee;
}
/* line 1749, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-image img {
  width: 100%;
  height: auto;
}
/* line 1755, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-wrap {
  padding: 1em;
}
/* line 1758, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-wrap h3 {
  font-size: 1.1em;
  margin-bottom: 0;
}
/* line 1761, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-wrap h3 span {
  display: block;
  color: #ccc;
  text-transform: uppercase;
  font-size: .9em;
}
/* line 1769, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-wrap .resource-cat {
  margin-bottom: 10px;
}
/* line 1774, ../sass/layouts.scss */
.content-resource-grid .resource-item i {
  font-size: 0.8em;
  margin-left: 5px;
}
/* line 1779, ../sass/layouts.scss */
.content-resource-grid .resource-item .resource-date {
  margin-top: 5px;
  font-size: 0.9em;
}

@media screen and (max-width: 400px) {
  /* line 1787, ../sass/layouts.scss */
  .content-button-stack {
    padding: 0 !important;
  }
}
/* line 1793, ../sass/layouts.scss */
.content-button-stack .button-stack {
  padding-left: 0;
  display: flex;
}
/* line 1797, ../sass/layouts.scss */
.content-button-stack .button-stack.stack {
  flex-direction: column;
}
/* line 1800, ../sass/layouts.scss */
.content-button-stack .button-stack.stack.center {
  align-items: center;
}
/* line 1804, ../sass/layouts.scss */
.content-button-stack .button-stack.stack.right {
  align-items: flex-end;
}
/* line 1809, ../sass/layouts.scss */
.content-button-stack .button-stack li {
  padding-left: 0;
  margin: 0 0 1em;
}
/* line 1813, ../sass/layouts.scss */
.content-button-stack .button-stack li .stack-button {
  height: 100%;
  padding: 20px 30px;
  text-decoration: none;
  opacity: 0.9;
  font-size: 1.2em;
  overflow: hidden;
  display: flex;
  align-items: center;
}
/* line 1823, ../sass/layouts.scss */
.content-button-stack .button-stack li .stack-button.center {
  text-align: center;
  justify-content: center;
}
/* line 1828, ../sass/layouts.scss */
.content-button-stack .button-stack li .stack-button.right {
  text-align: right;
  justify-content: flex-end;
}
/* line 1834, ../sass/layouts.scss */
.content-button-stack .button-stack li .stack-button:hover {
  opacity: 1;
}
/* line 1838, ../sass/layouts.scss */
.content-button-stack .button-stack li .stack-button:after {
  content: '\F0A3';
  font-family: 'Black Tie';
  font-weight: 300;
  float: right;
  margin-left: 0.5em;
}
/* line 1849, ../sass/layouts.scss */
.content-button-stack .button-stack.inline.center {
  justify-content: center;
}
/* line 1853, ../sass/layouts.scss */
.content-button-stack .button-stack.inline.right {
  justify-content: flex-end;
}
/* line 1857, ../sass/layouts.scss */
.content-button-stack .button-stack.inline li {
  display: inline-block;
  margin: 0 0.5em 1em;
}
/* line 1861, ../sass/layouts.scss */
.content-button-stack .button-stack.inline li:first-child {
  margin-left: 0;
}

/* line 1870, ../sass/layouts.scss */
.content-woocommerce-categories {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}
/* line 1873, ../sass/layouts.scss */
.content-woocommerce-categories h6 {
  color: #7f7f7f;
  padding: 20px 20px 10px;
  margin-bottom: 0;
}
/* line 1879, ../sass/layouts.scss */
.content-woocommerce-categories .popular-category-list {
  padding: 10px 20px;
}
/* line 1882, ../sass/layouts.scss */
.content-woocommerce-categories .popular-category-list li {
  margin-bottom: 5px;
}
/* line 1885, ../sass/layouts.scss */
.content-woocommerce-categories .popular-category-list li a {
  text-decoration: underline;
}
/* line 1891, ../sass/layouts.scss */
.content-woocommerce-categories .see-all {
  display: block;
  color: #fff;
  background: #666;
  text-align: right;
  padding: 10px 20px;
}
/* line 1898, ../sass/layouts.scss */
.content-woocommerce-categories .see-all i {
  margin-left: 10px;
  font-size: 0.8em;
  line-height: 0.8em;
}

/* line 1908, ../sass/layouts.scss */
.content-woocommerce-featured {
  overflow: hidden;
}
/* line 1913, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li.four-col-grid {
  width: 25%;
  margin: 0 0 4%;
}
@media screen and (max-width: 800px) {
  /* line 1913, ../sass/layouts.scss */
  .content-woocommerce-featured .woo-featured-grid > li.four-col-grid {
    width: 50%;
    margin: 0 0 2%;
  }
}
/* line 1924, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li .product-image a {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 40px;
}
@media screen and (max-width: 800px) {
  /* line 1924, ../sass/layouts.scss */
  .content-woocommerce-featured .woo-featured-grid > li .product-image a {
    height: 200px;
    padding: 0 10px 20px;
  }
}
/* line 1936, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li .product-image a img {
  max-height: 100%;
  width: auto;
  align-self: flex-end;
}
/* line 1944, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li .product-category {
  padding: 0 10px;
  height: 70px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  line-height: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  /* line 1944, ../sass/layouts.scss */
  .content-woocommerce-featured .woo-featured-grid > li .product-category {
    height: 60px;
  }
}
/* line 1961, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li .category-brands-list {
  padding: 20px 20px 0;
}
@media screen and (max-width: 800px) {
  /* line 1961, ../sass/layouts.scss */
  .content-woocommerce-featured .woo-featured-grid > li .category-brands-list {
    padding: 10px 20px 20px;
  }
}
/* line 1968, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li .category-brands-list li {
  margin-bottom: 10px;
}
@media screen and (max-width: 800px) {
  /* line 1968, ../sass/layouts.scss */
  .content-woocommerce-featured .woo-featured-grid > li .category-brands-list li {
    margin-bottom: 5px;
  }
}
/* line 1975, ../sass/layouts.scss */
.content-woocommerce-featured .woo-featured-grid > li .category-brands-list li a {
  text-decoration: underline;
}

/* line 1988, ../sass/layouts.scss */
.content-woocommerce-popular .popular-product-grid > li.four-col-grid {
  width: 25%;
  margin: 0 0 4%;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 800px) {
  /* line 1988, ../sass/layouts.scss */
  .content-woocommerce-popular .popular-product-grid > li.four-col-grid {
    width: 50%;
  }
}
/* line 1999, ../sass/layouts.scss */
.content-woocommerce-popular .popular-product-grid > li .product-image a {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 30px;
}
@media screen and (max-width: 800px) {
  /* line 1999, ../sass/layouts.scss */
  .content-woocommerce-popular .popular-product-grid > li .product-image a {
    padding: 0 20px 20px;
  }
}
/* line 2010, ../sass/layouts.scss */
.content-woocommerce-popular .popular-product-grid > li .product-image a img {
  max-height: 100%;
  width: auto;
  align-self: flex-end;
}
/* line 2018, ../sass/layouts.scss */
.content-woocommerce-popular .popular-product-grid > li .product-info {
  padding: 0 5px;
  line-height: 1em;
  height: 90px;
}
@media screen and (max-width: 800px) {
  /* line 2018, ../sass/layouts.scss */
  .content-woocommerce-popular .popular-product-grid > li .product-info {
    height: 70px;
  }
}
/* line 2028, ../sass/layouts.scss */
.content-woocommerce-popular .popular-product-grid > li .product-info a {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 2035, ../sass/layouts.scss */
.content-woocommerce-popular .popular-product-grid > li .product-info .product-price .strike {
  text-decoration: line-through;
}

/* line 2046, ../sass/layouts.scss */
.content-contact-info .contact-list {
  word-break: break-all;
}
/* line 2049, ../sass/layouts.scss */
.content-contact-info .contact-list li {
  margin-bottom: 5px;
}
/* line 2052, ../sass/layouts.scss */
.content-contact-info .contact-list li:before {
  font-family: 'Black Tie';
  font-weight: 900;
  color: #666;
  float: left;
}
/* line 2060, ../sass/layouts.scss */
.content-contact-info .contact-list li.contact-email:before {
  content: '\F001';
}
/* line 2066, ../sass/layouts.scss */
.content-contact-info .contact-list li.contact-phone:before {
  content: '\F005';
}
/* line 2072, ../sass/layouts.scss */
.content-contact-info .contact-list li.contact-fax:before {
  content: '\F051';
}
/* line 2078, ../sass/layouts.scss */
.content-contact-info .contact-list li.contact-address:before {
  content: '\F0CA';
}
/* line 2084, ../sass/layouts.scss */
.content-contact-info .contact-list li.contact-link:before {
  content: '\F0C7';
}
/* line 2089, ../sass/layouts.scss */
.content-contact-info .contact-list li span {
  display: block;
  margin-left: 25px;
  color: #333;
  font-size: 0.9em;
}
/* line 2095, ../sass/layouts.scss */
.content-contact-info .contact-list li span a {
  color: #333;
}

/* line 2103, ../sass/layouts.scss */
.content-product-search {
  padding: 30px 0;
}
/* line 2106, ../sass/layouts.scss */
.content-product-search .number-of-results {
  margin-bottom: 30px;
}
/* line 2110, ../sass/layouts.scss */
.content-product-search .product-search-sidebar {
  float: left;
  width: 25%;
  margin-bottom: 30px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background: #fafafa;
}
@media screen and (max-width: 800px) {
  /* line 2110, ../sass/layouts.scss */
  .content-product-search .product-search-sidebar {
    width: 100%;
  }
}
/* line 2121, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-header {
  color: #fff;
  background: #666;
  padding: 10px 20px;
}
/* line 2127, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-section {
  padding: 20px;
}
/* line 2132, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-wrap {
  padding: 15px;
}
/* line 2135, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-wrap .search-container {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
}
/* line 2140, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-wrap .search-container input {
  width: 80%;
  border: none;
  background: none;
}
/* line 2146, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-wrap .search-container button {
  float: right;
  width: 20%;
  background: none;
  color: #999;
  font-size: 1.1em;
  line-height: 1.5em;
  text-align: right;
}
/* line 2158, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-refine {
  text-align: center;
}
/* line 2161, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-refine h6 {
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 20px;
}
/* line 2167, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-refine .ui-slider-handle {
  transition: none;
  cursor: pointer;
  background: #e6e6e6;
}
/* line 2173, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .search-refine .refine-values {
  margin: 10px 0 20px;
  font-size: 0.9em;
  text-align: center;
}
/* line 2181, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .checkbox-list li {
  margin-bottom: 10px;
  line-height: 1.2em;
}
/* line 2185, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .checkbox-list li input {
  display: none;
}
/* line 2188, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .checkbox-list li input + label {
  cursor: pointer;
}
/* line 2191, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .checkbox-list li input + label:before {
  font-family: 'Black Tie';
  content: '\F08B';
  font-weight: 400;
  margin-right: 10px;
  color: #999;
  line-height: 1em;
}
/* line 2203, ../sass/layouts.scss */
.content-product-search .product-search-sidebar .sidebar-search-form .checkbox-list li input:checked + label:before {
  content: '\F014';
  font-weight: 900;
  color: #666;
}
/* line 2216, ../sass/layouts.scss */
.content-product-search .product-search-results {
  float: right;
  width: 72%;
  margin-bottom: 30px;
}
@media screen and (max-width: 800px) {
  /* line 2216, ../sass/layouts.scss */
  .content-product-search .product-search-results {
    width: 100%;
  }
}
/* line 2225, ../sass/layouts.scss */
.content-product-search .product-search-results .results-top-bar {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 0.9em;
  margin-bottom: 40px;
}
/* line 2232, ../sass/layouts.scss */
.content-product-search .product-search-results .results-top-bar .sort-by {
  float: right;
  color: #ccc;
}
/* line 2236, ../sass/layouts.scss */
.content-product-search .product-search-results .results-top-bar .sort-by span {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
/* line 2243, ../sass/layouts.scss */
.content-product-search .product-search-results .results-top-bar a {
  color: #fff;
}
/* line 2248, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list {
  overflow: hidden;
}
/* line 2251, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list li {
  width: 33.33%;
  margin: 0 0 40px;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}
@media screen and (max-width: 800px) {
  /* line 2251, ../sass/layouts.scss */
  .content-product-search .product-search-results .results-list li {
    width: 50%;
  }
}
/* line 2263, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin-bottom: 15px;
}
@media screen and (max-width: 500px) {
  /* line 2263, ../sass/layouts.scss */
  .content-product-search .product-search-results .results-list .product-image {
    height: 160px;
  }
}
/* line 2274, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list .product-image img {
  max-height: 100%;
  width: auto;
}
/* line 2280, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list .product-info {
  height: 100px;
  line-height: 1.2em;
  font-weight: bold;
}
/* line 2285, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list .product-info .price {
  font-weight: normal;
  color: #333;
  margin-top: 5px;
}
/* line 2290, ../sass/layouts.scss */
.content-product-search .product-search-results .results-list .product-info .price ins {
  text-decoration: none;
}
/* line 2297, ../sass/layouts.scss */
.content-product-search .product-search-results .results-pagination {
  text-align: center;
  padding: 0 10px;
}
/* line 2301, ../sass/layouts.scss */
.content-product-search .product-search-results .results-pagination li {
  display: inline-block;
  margin: 0 5px;
}
/* line 2306, ../sass/layouts.scss */
.content-product-search .product-search-results .results-pagination .pagination-previous {
  float: left;
}
/* line 2309, ../sass/layouts.scss */
.content-product-search .product-search-results .results-pagination .pagination-previous i {
  margin-right: 5px;
  color: #ccc;
  font-size: 0.8em;
}
/* line 2316, ../sass/layouts.scss */
.content-product-search .product-search-results .results-pagination .pagination-next {
  float: right;
}
/* line 2319, ../sass/layouts.scss */
.content-product-search .product-search-results .results-pagination .pagination-next i {
  margin-left: 5px;
  color: #ccc;
  font-size: 0.8em;
}

/* line 2329, ../sass/layouts.scss */
.content-social-bar {
  font-size: 1.1em;
}
/* line 2332, ../sass/layouts.scss */
.content-social-bar .wrapper {
  display: flex;
  align-items: center;
}
/* line 2336, ../sass/layouts.scss */
.content-social-bar .wrapper .social-icon-list {
  margin: 0 10px;
  font-size: 1.5em;
}
/* line 2340, ../sass/layouts.scss */
.content-social-bar .wrapper .social-icon-list li {
  display: inline-block;
  margin: 0 10px;
}

/* line 2351, ../sass/layouts.scss */
.dark .wrapper .content-block h1, .dark .wrapper .content-block h2, .dark .wrapper .content-block h3, .dark .wrapper .content-block h4, .dark .wrapper .content-block h5, .dark .wrapper .content-block h6, .dark .wrapper .content-block p, .dark .wrapper .content-block li, .dark .wrapper .content-block div, .dark .wrapper .content-block i, .dark .wrapper .content-block blockquote, .dark .wrapper .content-block a {
  color: #fff;
}

@media screen and (max-width: 768px) {
  /* line 2356, ../sass/layouts.scss */
  .mobile-hide {
    display: none;
  }
}

/* line 2362, ../sass/layouts.scss */
.mobile-only {
  display: none;
}
@media screen and (max-width: 768px) {
  /* line 2362, ../sass/layouts.scss */
  .mobile-only {
    display: block;
  }
}
