/* 
	
	Hey, this is the main CSS file for the BC Flex Content plugin.
	This is where the magic happens, all updates to the display styles
	should be going in this file- keeping everything responsive and beautiful.
	
	Keep it organized!  Enjoy!
	
*/

$break-to-4: 65em;
$break-to-3: 50em; 
$break-to-2: 50em; 
$break-to-1: 35em; 

@import "compass";

/* clear */
.clear:before, .clear:after { 
	content:' '; 
	display:table; 
} 

.clear:after { 
	clear:both; 
} 

.clear { 
	*zoom:1;
} 

.clearer { 
	clear: both; 
	height: 0; 
	line-height: 0; 
	display: block; 
}

.content-block {
	box-sizing: border-box;
}

.content-row {
	> .wrapper {
		> .content-block {
			@media screen and (max-width: 750px){
				width:100% !important;
				padding:0 !important;
				margin-bottom: 0;
				float: none;
			}
		}
	}
}

.section-title {

	text-transform:uppercase;
	margin-bottom:20px;
	 
}

.sidebar {
	box-sizing: border-box;
	padding: 2em;
	float: right;
	width: 30%;
	
	@media screen and (max-width: 768px){
		width:100%;
		float: none;
	}	
	
}

#main {
	overflow: hidden;
}

.content-wrap {

	&.has-sidebar {
		width: 70%;
		float: left;
		clear: none;
		overflow: hidden;
		
		@media screen and (max-width: 768px){
			width:100%;
			float: none;
		}			
		
	}	
	
}

.content-row {
	
	padding-left: 2em !important;
	padding-right: 2em !important;
	position:relative;

	.content-row-overlay{
		position:absolute;
		width:100%;
		height: 100%;
		top:0;
		left:0;
	}
	
	.wrapper { 
		box-sizing: border-box; 
		width:100%;
		margin:0 auto;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;

		&.vertical-align {
			align-items: center;
		}
		
		.content-block {
			
			&.flex-vc {
				
				align-self: center;
				
				section {
					.page-content {
						*:last-child {
							margin-bottom: 0;
						}
					}
				}
				
			}
		}
	
		@media screen and (max-width: 750px){
			padding: 0 2em;
		}
		
		@media screen and (max-width: 600px){
			padding: 0 1em;
			width: 100% !important;
		}
	
		@media screen and (min-width: 0px){
			min-width: 0;
		}
		 
	} 
}

.page-content {
	box-sizing: border-box;
	width:100%;		

	@media screen and (max-width: 750px){
		margin-bottom: 0;
		padding:10px;
	}

	&.has-sidebar{
		float:left;
		width:70%;	

		@media screen and (max-width: 750px){
			width:100%;
			margin-bottom: 40px;
		}
	}

	&.flex {
		background:none;
		padding:0;	
		margin-bottom: 0px;

		@media screen and (max-width: 750px){
			margin-bottom: 0;
			padding:0;
		}

		.default-content{
			margin-bottom: 40px;

			@media screen and (max-width: 750px){
				margin-bottom: 20px;
			}
		}
	}
}

#acf-popup{
	z-index: 99999;
	background: rgba(#000, .5);
}

.content-row {
	clear: both;
	overflow: hidden;
	box-sizing: border-box;
	@media screen and (max-width: 750px){
		padding: 20px 0 20px 0 !important;
	}
}

// Accordions

.content-accordion {
	ul.accordion {
		list-style-type: none;
		li {
			list-style-type: none;
			margin-left: 0;
			
			.accordion-title {
				i {
					line-height: 1;
					transition: all 300ms;
				}
				
				&.open {
					i {
						transform: rotate(180deg);
					}
				}
				
				
			}
			
		}
	}
}

// Image Shapes

.content-image {
	
	div {
		position: relative;
		overflow: hidden;
	}

	.circle {	
		border-radius: 50%;		
	}
	
	.triangle {
		
		&:before {
		    content: "";
		    display: block;
		    position: absolute;
		    width: 0;
		    height: 0;
		    top: -50%;
		    left: -50%;
		    
		    border-top: 500px solid transparent;
		    border-bottom: 500px solid transparent;
		    border-left: 500px solid #4679BD;
		}
	}

}


// News List

.content-news-list{
	box-sizing: border-box;
	.news-list {
		list-style-type: none;
		margin-left: 0 !important;
		padding-left: 0;
		li {
			
			img {
				float: left;
				margin-right: 1em;
				margin-bottom: 1em;
				max-width: 75px;
				height: auto;
			}
			
			h4 {
				line-height: 1.2em;
				font-size: 1.1em;
			}
						
			&.has-image {
				h4 {
					padding-top: 1em;
				} 
			}
			
			&.has-excerpt {
				img {
					max-width: 150px;
					height: auto;
				}
			}

			
			margin-bottom: 20px;
		}
	}
}

// FAQs
.content-faqs {
	box-sizing: border-box;

	.faq-list {
		margin-left: 0 !important;
		padding-left: 0;
		list-style-type: none;

		.faq-item {
			padding-left: 0;
		}
	}
	
	.faq-title{
		background:#ccc;
		color:#fff;
		border-bottom: 1px solid #fff;
		padding: .75em 1em;
		cursor:pointer !important;
		font-size: 1.2em;

		i {
			font-size: 1.2em;
			float:right;
			margin-left:20px;
			line-height: 1.6em;
		}
	}

	.faq-content{
		padding:1em;
		background:#fff;
		margin-bottom: 4px;

		ul {
			margin:20px 0;

			li {
				list-style: disc;
				margin-left:20px;
				margin-bottom: 10px;
			}
		}
	}
}

.content-block {
	.button {
		display: inline-block;
		position: relative;
		box-sizing: border-box;
		padding: .5em 1.5em;
		border-radius: 4px;
		border: 1px solid #333;
		background:  transparent;
		margin: 1em 0;
		text-decoration: none !important;
		
	}
}

.content-call-to-action-block{
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	
	.cta-overlay {
		width:100%;
	}

	.button {
		font-size: 1.25em;
	}

	.button-wrap{
		margin-top: 0;
		text-align: center;
		width: 100%;
	}
	
	.user-content {
		width: 100%;
		&.has-form {
			width: 50%;
			
			@media screen and (max-width: 760px) {
				width: 100%;
			}
			
		}
	}
	
	.gform_wrapper {
		
		width: 48%;
	
		@media screen and (max-width: 760px) {
			width: 100%;
		}
		
		.gform_heading {
			
			margin-bottom: 0 !important;
			
			.gform_description {
				margin-bottom: 0 !important;
				font-size: 1.3em;
				line-height: 1.2em;
			}
		}
		
		
		.gform_body {
						
			.gfield-required {
				display: none;
			}
			
			li {
				display: inline-block;
				box-sizing: border-box;
				padding-left: 1em;
				width: 50%;
				margin-top: 0;
				padding-top: 0;
				
				&:first-child {
					//padding-left: 0 !important;
				}
				
				label {
					.gfield_required {
						display: none;
					}
				}
				
				input {
					width: 100% !important;
					font-size: 1.25em !important;
					border-radius: 3px;
					padding-left: 10px !important;
					
					@media screen and (max-width: 600px) {
						font-size: 1em !important;
					}					
					
				}
			}
			
		}
		
		.gform_footer {
			padding: 0;
			text-align: right;
			
			input[type="submit"].button {
				background: #369;
				color: #fff;
				line-height: 1em;
				font-size: 1.3em;
				padding: .75em 1.5em !important;
				transition: all 300ms;
				margin-bottom: 0;
				text-transform: uppercase;
				font-weight: 500;
				
				@media screen and (max-width: 600px) {
					font-size: 1em !important;
				}
				
				&:hover {
					background: lighten(#369, 15);					
				}
				
			}
			
		}
		
	}
	
}

.content-row {
  clear: both;
  overflow: hidden;
  box-sizing: border-box; }
  @media screen and (max-width: 750px) {
    .content-row {
      padding: 20px 0 20px 0 !important; } }

.grid {
	overflow: hidden;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	justify-content: center;
	align-content: flex-start; 
  
	li {
		flex: 0 0 auto;
		position: relative;
		padding-bottom: 50px; 
		
		@media screen and (max-width: 35em) {
			margin-bottom: 40px;
			margin-top: 0px;
			margin-left: 0;
			float: none;
			width: 100%; 		    
		}
	
	}
  
}

.content-work-display .work {
  position: relative;
  height: 200px;
  overflow: hidden; 
  
  	img {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	  	height: 100%;
	  	width: auto !important;
	  	max-width: none;
  	}
  	
	.work-wrap {
		display:block;
		height:100%;
		width:100%;
		background:rgba(54,97,133,0.8);
		box-sizing:border-box;
		position:absolute;
		top:0;
		bottom:0;
		cursor:pointer;
		transition:all 300ms;
		
		&:hover {
			background:rgba(246,142,47,0.8);
		}
		
	}
	
	h4.title {
		position:absolute;
		top:42%;
		color:#fff;
		text-align:center;
		font-size:1.5em!important;
		text-transform:uppercase;
		width:100%;
		padding:0 1em;
		transition:all 300ms;
		
		&:hover {
			font-weight:700;
		}
	}
}


.content-services-display .service {
  position: relative;
  height: 200px;
  overflow: hidden; 
  
  	img {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translate(-50%, -50%);
	  	height: 100%;
	  	width: auto !important;
	  	max-width: none;
  	}
  	
	.service-wrap {
		display:block;
		height:100%;
		width:100%;
		background:rgba(54,97,133,0.8);
		box-sizing:border-box;
		position:absolute;
		top:0;
		bottom:0;
		cursor:pointer;
		transition:all 300ms;
		
		&:hover {
			background:rgba(246,142,47,0.8);
		}
		
	}
	
	h4.title {
		position:absolute;
		top:42%;
		color:#fff;
		text-align:center;
		font-size:1.5em!important;
		text-transform:uppercase;
		width:100%;
		padding:0 1em;
		transition:all 300ms;
		
		&:hover {
			font-weight:700;
		}
	}
}

.case-study-summary {
	width:60%;
}

.case-study-services p {
	margin-bottom:.5em;
}

.case-study-services li {
	display:inline-block;
	margin-right:1em;
}

.content-case-study-display {
	overflow:visible;
}

.content-case-study-display .case-study {
	position:relative;
	border-bottom:3px solid rgba(54,97,134,0);
	border-radius:3px;
	opacity:.6;
	transition:all 400ms;
	padding-bottom:1em;
	margin-bottom:2%;
}

.content-case-study-display .case-study:hover {
	opacity:1;
	border-bottom:2px solid rgba(245,172,44,0.7);
	transform:scale(1.05);
}

.content-case-study-display .case-study .case-study-wrap {
	position:relative;
	height:250px;
	cursor:pointer;
}

.content-case-study-display .case-study .case-study-wrap .case-study-logo {
	display:block;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	text-align:center;
	width:100%;
	max-height:100px;
	margin-bottom:10px;
}

.content-case-study-display .case-study .case-study-wrap .case-study-logo img {
	max-width:100%;
	width:auto;
	max-height:100%;
	height:auto;
	transition:all 400ms;
}

.content-case-study-display .case-study .case-study-wrap h4.title {
	position:absolute;
	bottom:0;
	text-align:center;
	width:100%;
	padding:0 1em;
	font-size:1.1em;
	transition:all 300ms;
}

.content-case-study-display .case-study .case-study-wrap h4.title a {
	color:#366186;
}

.content-case-study-display .case-study .case-study-wrap h4.title a span {
	color:#999;
	font-size:.9em;
	display:block;
	font-style:italic;
	margin-top:.25em;
}

.content-featured-case-study {
	position:relative;
	overflow:hidden;
}

.content-featured-case-study .left {
	float:left;
	width:40%;
	box-sizing:border-box;
}

.content-featured-case-study .right {
	float:right;
	padding-left:5em;
	width:60%;
	box-sizing:border-box;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study .left,.content-featured-case-study .right {
		width:100%;
		float:none;
		padding:0;
		text-align:center;
		margin-bottom:1em;
	}
}

.content-featured-case-study .case-study-title {
	display:block;
	font-size:2.5em;
	line-height:1.2em;
	text-transform:uppercase;
	margin-bottom:20px;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study .case-study-title {
		font-size:2em;
	}
}

.content-featured-case-study .case-study-summary {
	font-size:1.2em;
	line-height:1.3em;
	width:100%;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study .case-study-summary {
		font-size:1em;
	}
}

.content-featured-case-study .featured-case-study-logo {
	max-height:75px;
	width:auto;
	margin-bottom:2em;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study .featured-case-study-logo {
		margin-bottom:3em;
	}
}

.content-featured-case-study .button {
	margin:0 0 .5em!important;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study .button {
		font-size:.8em;
	}
}

.content-featured-case-study blockquote {
	line-height:1.3em;
	position:relative;
	z-index:1;
	padding:0;
	margin:0;
	width:auto;
	max-width:none;
	margin-bottom:1em;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study blockquote {
		font-size:1.3em;
	}
}

.content-featured-case-study blockquote:before {
	position:absolute;
	z-index:0;
	font-family:'Black Tie';
	font-weight:900;
	content:"\F036";
	font-size:4em;
	opacity:.1;
	top:0;
	left:-.5em;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study blockquote:before {
		font-size:3em;
		left:0;
	}
}

.content-featured-case-study cite {
	float:right;
	font-size:1.2em;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study cite {
		float:none;
	}
}

.content-featured-case-study.featured-case-study-compact .left {
	width:35%;
	text-align:right;
	padding:2em;
	border-right:8px solid #eee;
}

.content-featured-case-study.featured-case-study-compact .left img {
	margin:0 auto 2em;
}

.content-featured-case-study.featured-case-study-compact .right {
	width:65%;
	position:absolute;
	float:none;
	right:0;
	top:50%;
	transform:translateY(-50%);
	padding-left:2em;
	font-size:1.3em;
}

.content-featured-case-study.featured-case-study-compact .right p {
	margin:0;
}

@media screen and (max-width: 650px) {
	.content-featured-case-study.featured-case-study-compact .left,.content-featured-case-study.featured-case-study-compact .right {
		width:100%;
		float:none;
		position:relative;
		transform:none;
		padding:0;
		text-align:center;
		border:none;
		margin:0;
		margin-bottom:2em;
	}
	
	.content-featured-case-study.featured-case-study-compact .left img,.content-featured-case-study.featured-case-study-compact .right img {
		max-height:150px;
	}
	
	.content-featured-case-study.featured-case-study-compact .left .button,.content-featured-case-study.featured-case-study-compact .right .button {
		width:75%;
	}
}


.content-student-groups {
	.team-member {
		list-style-type: none;
		margin-bottom: 3em;
		
		img {
			border-bottom: 1px solid #ccc;
			margin: 0 auto;
		}
		
		.social {
			font-size: .8em;
		}
		
		.email {
			line-height: 1.2em;
		}
		
		.name {
			text-transform: none;
			text-align: center;
			font-size: 1em;
			
			a {
				text-transform: none;
			}
			
		}
		
	}
		
	h3.group-title {
		color: #fff;
	}
	
	.grid {
		list-style-type: none;
		
		.bio-wrap {
			display: none;
		}
	}
	
	ul.list {
		.bio {
			border-top: none !important;
			padding-top: 0;
			margin-top: 0;
		}
		li.team-member {
			padding-bottom: 2em;
			margin-bottom: 1em;
			
			&:last-child {
				border-bottom: none !important;
			}
			
			img {
				border: none;
			}
		}
	}
}

h3.group-title {
	padding: .5em;
	background: #5290ca;
	color: #fff;
	margin-bottom: 1em;
	
	@media screen and (max-width: $break-to-1){
		text-align: center;
	}
	
}

.content-call-to-action-button {
	
	text-align: center;
	box-sizing: border-box;
	
	.button {
		font-size: 1.5em;
	}
}

.content-team-grid{
	box-sizing: border-box;
	.section-title{
		margin-bottom: 40px;

		@media screen and (max-width: $break-to-1){
			margin-bottom: 20px;
		}
		 
	}
	
	.list {
		
		.team-member {
			margin-bottom: 1em;
			padding: 1em 0;
			border-bottom: 1px dotted #ccc;
			overflow: hidden;
		}
		
		img {
			float: left;
			width: 30%;
			height: auto;

			@media screen and (max-width: $break-to-1){
				margin-bottom: 20px;
				width: 100%;
				float: none;
			}
			
		}
		
		.bio-wrap {
			float: left;
			width: 70%;
			padding-left: 1.5em;
			box-sizing: border-box;
			
			@media screen and (max-width: $break-to-1){
				width: 100%;
				float: none;
				padding-left: 1em;
				padding-right: 1em;
			}
			
		}
		
		.title, .email {
			color: #666;
			font-size: .9em;
		}
		
		.bio {
			padding-top: .75em;
			margin-top: .75em;
			border-top: 1px solid #d9e6ee;
			font-size: .9em;
		}
		
	}
	

	.grid{
		box-sizing: border-box;
		margin: 0;
		padding: 0;	
		display: flex;
		flex-wrap: wrap;
		overflow: hidden;	
		justify-content: center;
		align-content: flex-start;
		
		.team-member{
			flex: 0 0 auto;
			position: relative;
			padding-bottom: 50px;
			
			@media screen and (max-width: $break-to-1){
				margin-bottom: 40px;
				margin-top: 0px;
				margin-left: 0;
				float: none;
				width: 100%;
			}

			&:first-child {
				@media screen and (max-width: $break-to-1){
					margin-top: 0;
				}
			}
			 
			img{
				width:100%;
				margin-bottom: 1em;
				min-width: 100%;

				@media screen and (max-width: $break-to-1){
					width:100%;
					margin-bottom: 20px;
				}
				 
			}

			.bio-wrap{
				@media screen and (max-width: $break-to-1) {
					text-align: center;
				}
			}
			
			.bio-handle {
				text-align: center;
				padding: .25em 0;
				margin-top: 1em;
				font-size: .8em;
				text-transform: uppercase;
				transition: all 300ms;
				background: #eee;
				height: 30px;
				overflow: hidden;
				position: absolute;
				bottom: 0;			
				width: 100%;
				box-sizing: border-box;
				
				&:hover {
					opacity: .7;
					transform: scale(1.03, 1.03);
				}

				a {
					display: block;
				}
			}
			
			.bio {
				display: none;
				padding: 1em;
				
				p {
					line-height: 1.4em;
				}
			}

			.name{
				color:#333;
				
				text-transform: uppercase;
				margin-bottom: 10px;
			}

			.title {
				color:#666;
				font-size: .8em;
			}

			.email {
				font-size: .8em;
			}

		}
	}
}

.content-media-grid{
	box-sizing: border-box;
	.video-thumb{
		box-sizing: border-box;
		position:relative;
		display: block;

		i {
			color: #fff;
			font-size: .9em;
			padding:10px 20px;
			position:absolute;
			top:50%;
			left:50%;
			margin-top:-1em;
			margin-left:-1.5em;
			background: rgba(#333,0.6);
			border-radius:3px;
			transition: all 0.25s ease-in-out;


		}

		&:hover {
			i{
				background: #ccc;
			}
		}
	}

	.media-button{	
	    text-align: center;
   		margin-top: 20px;
   	}
   
}


.content-tabs {
	.tab-nav {
		width: 100%;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid #ccc;
		transition: all 300ms;
			
		li {
			display: inline-block;
			margin: 0;
			padding: 0;
			overflow: visible;
			vertical-align: bottom;
			transition: all 300ms;

			&:first-child span {
				border-left: 1px solid #eee;
				margin-left: .5em;
			}

			&.active {
				margin-bottom: -1px;

				span {
					color: #333;
					background: #fff;
					padding: 1em 2em;
				}
				 
			}			

			span {
				display: block;
				padding: .75em 2em;
				margin-left:0.5em;
				text-align: center;
				background: #fafafa;
				color: #666;
				border-left: 1px solid #fff;
				border-right: 1px solid #eee;
				border-top: 1px solid #eee;
				transition: all 300ms;
				cursor:pointer;
			}
		}

		&.stacked {		  
			border-bottom: 0;
			overflow: hidden;
			position: relative;
			background: linear-gradient(#fafafa, #eee);
			border-left: 1px solid #eee;
			border-right: 1px solid #eee;
	   
			li {
				display: none;
				border-bottom:1px solid #ddd;
				
				&:hover {
					background:#ffffff;
				}
			
	    		&.active {
	    			display: block;

	    			span {
						border: 0;
						text-align: left;
						padding: 1em;

						&:after {
							display: block;
							content: "\f000";
							font-family: 'Black Tie';
							position: absolute;
							top: 1em;
							right: 1em;
							z-index: 101;
							pointer-events: none;
						}
					}
				}	

				span {
					display: block;
					width: 100%;
					height: 100%;
					margin-left: 0 !important;
					padding:1em;
					
					&:hover {
						text-decoration: none !important;
						color: inherit;
					}
				}
			}
		
			&.open {
				li {
					display: block;
					overflow: visible;
					
					span {
						
						position: relative;
						text-align: left;
					}

					&:after {
						display: none;
					}
				}
			}
		}
	}

	.tab-content-wrap {
		padding: 1em;
		box-sizing: border-box;
	}
}

.dark {
	
	.content-block {
		.button {
			color: #fff;
			border-color: #fff;
			
			
			&:visited {
				color: #fff;
			}
			
		}
	}
		
	.tab-nav {
		li {
			a {
				opacity: .8;
				
				&:hover, &.active {
					opacity: 1;
				}
			}
		}
	}
}

// Menu Blocks

.content-menu {
	
	.menu {
		
		width: 100%;
		
		.sub-menu {
			display: none;
		}
	}
	
	.show-sub {
		.menu {
			margin: 0;
			padding: 0;
			li {
				vertical-align: top;
			}
			
			.sub-menu {
				display: block;
				margin: 0;
				padding: 0;
				margin-left: .5em;
				font-size:0.9em;
				
				li {
					margin: 0;
					padding: 0;
					display: block;
					
					a {
						padding: .15em;
						opacity: .9;
					}
					
				}
			}
		}
	}
	
	.horizontal {
		.menu {
			display: flex;
			align-content: flex-start;
			flex-wrap: wrap;
			overflow: hidden;
			justify-content: space-between;

			li {
				display: inline-block;
				flex: 0 0 auto;
			    padding: 0;
			    margin-right: 1em; 
				
				a {
					padding: .5em;
					display: inline-block;
				}
				
				&:before {
					display: none;
				}

				.sub-menu {
					margin-left: 5px;
					padding-left: 0;
					font-size: .9em;
					margin-bottom: 20px;

					li {
						a {
							color: #444;
					        cursor: pointer;
					        transition: all 300ms;

					        &:hover {
					        	color: #366186;
					        }
						}
					}
				}
			}
		}
	}
	
	.columns {
		.menu {
			column-width: 200px;

			.sub-menu {
				margin: 10px 0 0;
				
				li {
					margin-bottom: 10px;

					a {
						opacity: 1;
						padding: 0;
					}
				}
			}
			
			&.ruled {
				-webkit-column-rule: 1px dotted #ddd;
				-moz-column-rule: 1px dotted #ddd;
				column-rule: 1px dotted #ddd;
			}
			
			> li {
				display: inline-block;
				margin-bottom: 20px;

				> a {
					font-size: 1.2em;
					color:#333;
				}
			}

			li {
				padding-left: 0;
				line-height: 1.2em;

				&:before {
					 display: none;
				}
			 }			
		}
	}
}

// Carousel

.content-carousel {
	
	.carousel {
		width: 100%;
		position: relative;
	}
	
	.carousel-item { 
		float: left;
		position: relative;
		text-align: center;
		
		.carousel-item-wrap {
			display: inline-block;
			position: relative;
			overflow: hidden;
			cursor: pointer;
		}

		&.has-content{
			.carousel-item-wrap {
				&:hover {
					.carousel-content {
						opacity: 1;
					}
					
					img {
						filter: blur(3px);
					}
				}
			}
		}
		
		.carousel-content {
			opacity: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: rgba(#000, .5);
			text-align: center;
			color: #fff;
			transition: all 300ms;
			
			span {
				width: 100%;
				height: auto;
				text-align: center;
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-weight: 500;
			}
		}
	}
	
	.slick-arrow {
		background: #eee;
		font-family: 'BlackTie';
		transition: all 300ms;
		color: transparent;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		transform: none;
		color: #333;
		top: 40%;
		 
		
		&:hover {
			transform: none;
			transform: scale(1.1);
			
		}
		
		
		&.slick-prev  {
			
			z-index: 99;
			
			&:before {
				font-family: 'Black Tie';
				content: "\f092";
				color: #369;
			}	
		}
		
		&.slick-next {
			&:before {
				font-family: 'Black Tie';
				content: "\f093";
				color: #369;
			}				
		}
	}
	
	.slick-list {
		overflow: hidden;
	}
	
}

// Pricing Tiers

.pricing-tiers {
	.tier-group {
		padding: 2em;
		margin: 0 auto;
		box-sizing: border-box;		
		margin-bottom: 40px;		
	}
	
	@media screen and (max-width: 990px) {
				
		.tier-group {
			width: 100%;
			float: none;
		}
			
	}		
	
	.tier {
		width: 30%;
		min-width: 260px;
		display: inline-block;
		box-sizing: border-box;
		background: #fff;		
		box-shadow: 0 5px 10px rgba(#333, .3);
		margin: 0 .5em 20px;

		@media screen and (max-width: 950px) {
			width: 48% !important;
			max-width: none;
			margin: 0 .5em 20px 0;
		}
		
		@media screen and (max-width: 600px) {
			width: 100% !important;
			max-width: none;
			display: block;
			margin: 0 0 20px 0;
		}
		
		&.featured {
			transform: scale(1.1);
			z-index: 99;
			
			@media screen and (max-width: 800px) {
				transform: none;
			}
			
		}
		
		.tier-price, .tier-title, .tier-desc {
			text-align: center;
		}
		
		.tier-title {
			padding: 1em;
			color: #fff;
			background: linear-gradient(rgba(#333, .8), rgba(#333, .9));
			
			text-transform: uppercase;
			font-size: 1.5em;
			font-weight: 600;
			
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;			
			
		}
		
		.tier-desc {
			padding: 1em;
			font-size: .9em;
			font-style: italic;
			background: #fafafa;
			line-height: 1.2em;

			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;			
			
		}
		
		.tier-feature {
			padding: 1em 2em;
			border-top: 1px solid #eee;
			color: #369;
			padding-left: 2.5em;
			position: relative;
			font-size: .9em;
			line-height: 1.2em;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			
			&:before {
				font-family: 'Black Tie';
				content: "\f013";
				color: #369;
				font-weight: 900;
				position: absolute;
				left: 1em;
				top: 1em;
			}
			
			&.spacer {
				border-color: transparent;
				&:before {
					display: none;
				}
			}
			
		}
		
		.tier-footer {
			background: #369;
			transition: all 300ms;
			opacity: .9;
			a {
				background: linear-gradient(lighten(#369, 10), #369);
				padding: 1.25em;
				font-size: 1.2em;
				color: lighten(#369, 50);
				text-align: center;
				line-height: 1em;
				font-weight: 500;
				display: block;
				width: 100%;
				box-sizing: border-box;
				transition: all 300ms;
				
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				
				&:hover {
					color: #fff;
					background: #369;
				}				
				
			}			
		}
		
		.tier-price {
			font-size: 1.75em;
			color: #fff;
			font-weight: 500;
			background: #036;
			line-height: 1.2em;
			padding: .5em 0;
			letter-spacing: -.05em;
			
			small {
				font-size: .5em;
				font-style: italic;
			}
			
			sup {
				vertical-align: super;
				position: relative;			
			}
			
		}
		
	}
}

// Resources
.content-resource-grid {
	.grid {
		overflow: visible;
	}
	
	.resource-item {	
		background: #fff;
		box-shadow: 0 0 2px rgba(#000, .3);
		border-bottom:7px solid #ccc;
		
		.resource-image {
			width: 100%;
			height: 150px;
			overflow: hidden;
			background: #eee;
			
			img {
				width: 100%;
				height: auto;
			}	
		}
		
		.resource-wrap {
			padding: 1em;

			h3 {
				font-size: 1.1em;
				margin-bottom: 0;
				span {
					display: block;
					color: #ccc;
					text-transform: uppercase;
					font-size: .9em;
				}
			}

			.resource-cat {
				margin-bottom:10px;
			}
		}

		i{
		    font-size:0.8em;
		    margin-left: 5px;
		}	

		.resource-date {
			margin-top: 5px;
			font-size:0.9em;
		}
	}
}

// button stack
.content-button-stack {

	@media screen and (max-width: 400px){
		padding:0 !important;
	}
	 
	.button-stack {
		padding-left:0;
		display: flex;

		&.stack {
			flex-direction: column;

			&.center {
				align-items: center;
			}

			&.right {
				align-items: flex-end;
			}
		}

		li {
			padding-left:0;
			margin:0 0 1em;

			.stack-button {
				height: 100%;
				padding:20px 30px;
				text-decoration:none;
				opacity:0.9;
				font-size: 1.2em;
				overflow: hidden;
				display: flex;
				align-items: center;

				&.center {
					text-align: center;
					justify-content: center;
				}

				&.right {
					text-align: right;
					justify-content: flex-end;
				}
				

				&:hover {
					opacity:1;
				}

				&:after{
					content:'\F0A3';
					font-family: 'Black Tie';
					font-weight: 300;
					float:right;
					margin-left:0.5em;
				}
			}
		}	

		&.inline {		
			&.center {
				justify-content: center;
			}

			&.right {
				justify-content: flex-end;
			}	

			li {
				display: inline-block;
				margin:0 0.5em 1em;

				&:first-child {
					margin-left:0;
				}
			}
		}
	}
}

// woocommerce categories/brands
.content-woocommerce-categories {
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);

	h6 {
		color:#7f7f7f;
		padding:20px 20px 10px;
		margin-bottom: 0;
	}

	.popular-category-list {
		padding:10px 20px;

		li {
			margin-bottom:5px;

			a {
				text-decoration:underline;
			}
		}
	}

	.see-all {
		display: block;
		color:#fff;
		background:#666;
		text-align: right;
		padding:10px 20px;

		i {
			margin-left:10px;
			font-size: 0.8em;
			line-height: 0.8em;
		}
	}
}


// woocommerce featured
.content-woocommerce-featured {
	overflow:hidden;

	.woo-featured-grid {
		> li {
			&.four-col-grid{
				width:25%;
				margin: 0 0 4%;

				@media screen and (max-width: 800px){
					width:50%;
					margin: 0 0 2%;
				} 
			}
	
			.product-image {
				a {
					height: 300px;  
					display:flex;
				    justify-content: center;
				    align-items:center;
				    padding:0 20px 40px;

				    @media screen and (max-width: 800px){
				    	height: 200px;
				    	padding:0 10px 20px;
					}			    

					img {
						max-height:100%;
						width:auto;
						align-self: flex-end;
					}
				}
			}

			.product-category {
				padding:0 10px;
				height:70px;
				text-transform: uppercase;
				font-weight:600;
				text-align: center;
				line-height: 1em;
				display: flex;
				align-items: center;
				justify-content: center;

				@media screen and (max-width: 800px){
					height:60px;
				}
				 
			}

			.category-brands-list {
				padding:20px 20px 0; 

				@media screen and (max-width: 800px){
					padding:10px 20px 20px;
				}
				 
				li{
					margin-bottom:10px;

					@media screen and (max-width: 800px){
						margin-bottom:5px;
					}
					 
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

// woocommerce popular products
.content-woocommerce-popular {
	.popular-product-grid {
		> li {
			&.four-col-grid{
				width:25%;
				margin: 0 0 4%;
				border-bottom:1px solid #ccc;

				@media screen and (max-width: 800px){
					width:50%;
				} 
			}
	
			.product-image {
				a {
					height: 200px;  
					display:flex;
				    justify-content: center;
				    align-items:center;
				    padding:0 20px 30px;	

				    @media screen and (max-width: 800px){
			        	padding:0 20px 20px;
			        }     

					img {
						max-height:100%;
						width:auto;
						align-self: flex-end;
					}
				}
			}

			.product-info {
				padding: 0 5px;
				line-height:1em;
				height: 90px;

				@media screen and (max-width: 800px){
					height:70px;
				}
				 

				a {
					display:block;
					font-weight: bold;
					margin-bottom: 5px;
				}

				.product-price {
					.strike {
						text-decoration: line-through;
					}
				}
			}
		}
	}
}

// content contact info
.content-contact-info{
	.contact-list{
		word-break:break-all;

		li {
			margin-bottom: 5px;

			&:before{
				font-family:'Black Tie';
				font-weight: 900;
				color:#666;
				float:left;
			}

			&.contact-email {
				&:before{
					content: '\F001';
				}
			}

			&.contact-phone {
				&:before{
					content: '\F005';
				}
			}

			&.contact-fax {
				&:before{
					content: '\F051';
				}
			}

			&.contact-address {
				&:before{
					content: '\F0CA';
				}
			}			

			&.contact-link {
				&:before{
					content: '\F0C7';
				}
			}	

			span {
				display:block;
				margin-left:25px;
				color:#333;
				font-size:0.9em;

				a {
					color:#333;
				}
			}
		}
	}
}

.content-product-search{
	padding:30px 0;

	.number-of-results {
		margin-bottom: 30px;
	}

	.product-search-sidebar{
		float:left;
		width:25%;
		margin-bottom: 30px;
		box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
		background: #fafafa;

		@media screen and (max-width: 800px){
			width:100%;
		}

		.sidebar-header {
			color:#fff;
			background:#666;
			padding:10px 20px;
		}

		.sidebar-section {
			padding:20px;
		}

		.sidebar-search-form {
			.search-wrap{
				padding:15px;

				.search-container {
					background:#fff;
					border-radius: 5px;
					border:1px solid #ccc;

					input {
						width:80%;
						border:none;
						background:none;
					}

					button {
						float:right;
						width:20%;
						background:none;
						color:#999;
						font-size: 1.1em;
						line-height: 1.5em;
						text-align: right;
					}
				}
			}
		 
			.search-refine {
				text-align: center;

				h6 {
					text-align: left;
					font-size:1.2em;
					margin-bottom: 20px;
				}

				.ui-slider-handle {
					transition:none;
					cursor:pointer;
					background:#e6e6e6;
				}		

				.refine-values {
					margin:10px 0 20px;
					font-size:0.9em;
					text-align:center;
				}
			}

			.checkbox-list {
				li {
					margin-bottom: 10px;
					line-height: 1.2em;

					input {
						display: none;

						+ label{
							cursor:pointer;

							&:before {
								font-family: 'Black Tie';
								content: '\F08B';
								font-weight: 400;
								margin-right:10px;
								color:#999;
								line-height: 1em;
							}
						}						

						&:checked {
							+ label {
								&:before {
									content: '\F014';
									font-weight: 900;
									color:#666;
								}
							}
						}
					}
				}
			}
		}
	}

	.product-search-results {
		float:right;
		width:72%;
		margin-bottom: 30px;

		@media screen and (max-width: 800px){
			width:100%;
		}

		.results-top-bar{
			background: #333;
			color:#fff;
			padding:10px 20px;
			font-size: 0.9em;
			margin-bottom: 40px;

			.sort-by {
				float:right;
				color:#ccc;

				span {
					display: inline-block;
					margin:0 10px;
					color:#fff;
				}
			}

			a {
				color:#fff;
			}
		}

		.results-list {
			overflow: hidden;

			li{
				width:33.33%;
				margin:0 0 40px;
				padding:0 20px;
				border-bottom:1px solid #ccc;

				@media screen and (max-width: 800px){
					width:50%;
				}
				 
			}

			.product-image {
				display: flex;
				align-items:center;
				justify-content: center;
				height:200px;
				margin-bottom: 15px;

				@media screen and (max-width: 500px){
					height:160px;
				}
				 
				img {
					max-height:100%;
					width:auto;
				}
			}

			.product-info {
				height:100px;
				line-height:1.2em;
				font-weight: bold;

				.price {
					font-weight:normal;
					color:#333;
					margin-top:5px;

					ins {
						text-decoration: none;
					}
				}
			}
		}

		.results-pagination {
			text-align: center;
			padding:0 10px;

			li {
				display: inline-block;
				margin:0 5px;
			}

			.pagination-previous {
				float:left;

				i {
					margin-right:5px;
					color:#ccc;
					font-size: 0.8em;
				}
			}

			.pagination-next {
				float:right;

				i {
					margin-left:5px;
					color:#ccc;
					font-size: 0.8em;
				}
			}
		}
	}
}

.content-social-bar{
	font-size: 1.1em;

	.wrapper {
		display: flex;
		align-items: center;

		.social-icon-list {
			margin:0 10px;
			font-size:1.5em;

			li {
				display: inline-block;
				margin: 0 10px;
			}

		}
	}


}

.dark .wrapper .content-block h1,.dark .wrapper .content-block h2,.dark .wrapper .content-block h3,.dark .wrapper .content-block h4,.dark .wrapper .content-block h5,.dark .wrapper .content-block h6,.dark .wrapper .content-block p,.dark .wrapper .content-block li,.dark .wrapper .content-block div,.dark .wrapper .content-block i,.dark .wrapper .content-block blockquote,.dark .wrapper .content-block a {
	color:#fff;
}


.mobile-hide {
	@media screen and (max-width: 768px) {
		display:none;
	}
}

.mobile-only {
	display:none;

	@media screen and (max-width: 768px) {
		display:block;
	}
}